.text-red {
    color: red;
    font-weight: 600;
}

.text-blue {
    color: #0769C0;
    font-weight: 600;
}

.with-image {
    display: inline-flex;
    flex-direction: column;
    /* stack vertically */
    align-items: center;
}

.stamp {
    margin-top: -35px;
    margin-bottom: -30px;
    /* adjust spacing */
}