<div class="card">
    <span class="text-xl font-bold mb-6 block">
        @if (isNew) {
        Criar Novo Utilizadór
        }@else {
        Atualizar Utilizadór
        }
    </span>

    <!-- Success/Error Message -->
    @for (message of messages(); track message; let first = $first) {
    <p-message [severity]="message.severity" [text]="message.content" [icon]="message.icon" [life]="3000" closable />
    }

    <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12 lg:col-span-2">
            <!-- <div class=" font-medium text-xl mb-4">Profile</div> -->
            <p class="m-0 p-0 leading-normal mr-4">
                @if (isNew) {
                Forneça as informações
                necessárias abaixo para configurar uma nova conta de utilizador.
                }@else {
                Forneça as informações necessárias abaixo para atualizar a conta de utilizador.
                }

            </p>
        </div>
        <div class="col-span-12 lg:col-span-10">
            <form [formGroup]="userForm">
                <div class="grid grid-cols-12 gap-4">
                    <div class="mb-6 col-span-12 md:col-span-6">
                        <label for="firstName" class="font-medium  mb-2 block">
                            Nome próprio
                        </label>
                        <input formControlName="firstName" id="firstName" type="text" pInputText fluid />
                    </div>
                    <div class="mb-6 col-span-12 md:col-span-6">
                        <label for="lastName" class="font-medium  mb-2 block">
                            Apelido
                        </label>
                        <input formControlName="lastName" id="lastName" type="text" pInputText fluid />
                    </div>
                    <div class="mb-6 col-span-12 md:col-span-6">
                        <label for="email" class="font-medium  mb-2 block"> Email
                        </label>
                        <input formControlName="email" id="email" type="text" pInputText fluid />
                    </div>
                    <div class="mb-6 col-span-12 md:col-span-6">
                        <label for="username" class="font-medium  mb-2 block">
                            Nome de Utilizadór
                        </label>
                        <input formControlName="username" id="username" pInputText fluid />
                    </div>

                    <!-- Password -->
                    <div class="mb-6 col-span-12 md:col-span-6">
                        <label for="password" class="font-medium  mb-2 block">
                            Palavra-passe
                        </label>
                        <p-password formControlName="password" id="password" [feedback]="true" [fluid]="true"
                            [toggleMask]="true" />
                    </div>
                    <div class="mb-6 col-span-12 md:col-span-6">
                        <label for="confirmPassword" class="font-medium  mb-2 block">
                            Confirmar palavra-passe
                        </label>
                        <p-password formControlName="confirmPassword" id="confirmPassword" [feedback]="false"
                            [fluid]="true" [toggleMask]="true" />
                    </div>

                    <!-- Role -->
                    <div class="mb-6 col-span-12 md:col-span-6">
                        <label for="role" class="font-medium  mb-2 block">
                            Função
                        </label>
                        <p-select formControlName="role" [appendTo]="'body'" (onChange)="roleOnChange($event)"
                            inputId="role" [options]="roleList" optionLabel="name" optionValue="name" fluid
                            filterBy="name" [showClear]="true" placeholder="Select a Role">
                            <ng-template #selectedItem let-selectedOption>
                                @if (selectedOption) {
                                <div class="flex items-center gap-2">
                                    @switch (selectedOption.name) {
                                    @case ('ROLE_ADMIN') {
                                    <div>
                                        Administradór
                                    </div>
                                    }
                                    @case ('ROLE_MANAGER') {
                                    <div>
                                        Diretór
                                    </div>
                                    }
                                    @case ('ROLE_CHIEF') {
                                    <div>
                                        Xefe Departamento
                                    </div>
                                    }
                                    @case ('ROLE_STAFF') {
                                    <div>
                                        Funcionário
                                    </div>
                                    }
                                    @case ('ROLE_CLIENT') {
                                    <div>
                                        Empresa
                                    </div>
                                    }
                                    }
                                </div>
                                }
                            </ng-template>
                            <ng-template let-role #item>
                                <div class="flex items-center gap-2">
                                    @switch (role.name) {
                                    @case ('ROLE_ADMIN') {
                                    <div>
                                        Administradór
                                    </div>
                                    }
                                    @case ('ROLE_MANAGER') {
                                    <div>
                                        Diretór
                                    </div>
                                    }
                                    @case ('ROLE_CHIEF') {
                                    <div>
                                        Xefe Departamento
                                    </div>
                                    }
                                    @case ('ROLE_STAFF') {
                                    <div>
                                        Funcionário
                                    </div>
                                    }
                                    @case ('ROLE_CLIENT') {
                                    <div>
                                        Empresa
                                    </div>
                                    }
                                    }
                                </div>
                            </ng-template>
                        </p-select>
                    </div>
                    @if (showCategoria) {
                    <div class="mb-6 col-span-12 md:col-span-6">
                        <label for="direcao" class="font-medium  mb-2 block">
                            Direção
                        </label>
                        <p-select [appendTo]="'body'" formControlName="direcao" inputId="direcao"
                            [options]="direcaoList" optionLabel="nome" optionValue="id" fluid [showClear]="true"
                            placeholder="Selecione a Direção">
                        </p-select>
                    </div>
                    }


                    @if (!isNew) {
                    <!-- Status -->
                    <div class="mb-6 col-span-12 md:col-span-6">
                        <label for="status" class="font-medium  mb-2 block">
                            Estado
                        </label>
                        <p-selectButton inputId="status" formControlName="status" [options]="statusOptions"
                            optionLabel="name" optionValue="value" class="pt-3">
                            <ng-template #item let-item>
                                <div [class]="item.color">
                                    <i [class]="item.icon"></i> {{ item.name | titlecase }}
                                </div>
                            </ng-template>
                        </p-selectButton>
                    </div>
                    }

                    <div class="col-span-12">
                        @if (isNew) {
                        <button (click)="createUser(userForm)" icon="pi pi-save" [loading]="loading"
                            [disabled]="!userForm.valid" pButton pRipple label="Criar" class="w-auto mt-3"></button>
                        } @else {
                        <button (click)="updateUser(userForm)" icon="pi pi-sync" [loading]="loading"
                            [disabled]="!userForm.valid" pButton pRipple label="Atualizar" class="w-auto mt-3"></button>
                        }

                    </div>

                </div>
            </form>
        </div>
    </div>
</div>