.with-image {
    display: inline-flex;
    flex-direction: column;
    /* stack vertically */
    align-items: center;
}

.stamp {
    margin-top: -25px;
    margin-bottom: -30px;
    /* adjust spacing */
}