 <div class="topbar-start">
     <button pButton pRipple #menubutton type="button" class="topbar-menubutton p-trigger" text rounded
         severity="secondary" (click)="onMenuButtonClick()">
         <i class="pi pi-bars"></i>
     </button>

     <div class="topbar-breadcrumb">
         <div app-breadcrumb></div>
     </div>
 </div>
 <div class="layout-topbar-menu-section">
     <div app-sidebar></div>
 </div>
 <div class="topbar-end">
     <ul class="topbar-menu">
        <li class="topbar-item">
             @if (layoutService.isDarkTheme()) {
             <p-button (click)="toggleDarkMode()" [rounded]="true" icon="pi pi-moon" [outlined]="true" [text]="true" [severity]="'secondary'" />
             } @else {
             <p-button (click)="toggleDarkMode()" [rounded]="true" icon="pi pi-sun" [outlined]="true" [text]="true" [severity]="'secondary'" />
             }
         </li>
         <li class="profile-item topbar-item">
             @if (unreadCount > 0) {
             <p-overlaybadge [value]="unreadCount">
                 <button pButton pRipple type="button" icon="pi pi-bell" (click)="onNotificationButtonClick()"
                     class="text-surface-500 dark:text-surface-400 flex-shrink-0" severity="secondary" text
                     rounded></button>
             </p-overlaybadge>
             }@else {
             <button pButton pRipple type="button" icon="pi pi-bell" (click)="onNotificationButtonClick()"
                 class="text-surface-500 dark:text-surface-400 flex-shrink-0" severity="secondary" text
                 rounded></button>
             }
         </li>
         <li class="profile-item topbar-item">

         </li>

         <li class="profile-item topbar-item">
             <div pStyleClass="@next" enterFromClass="!hidden" enterActiveClass="animate-scalein" leaveToClass="!hidden"
                 leaveActiveClass="animate-fadeout" [hideOnOutsideClick]="true"
                 class="flex justify-around items-center cursor-pointer hover:text-emerald-500">
                 <span class="mr-4">
                     {{user.firstName}} {{user.lastName}}
                 </span>
                 <a>
                     <img class="rounded-full" src="/images/user.webp" />
                 </a>
             </div>

             <ul class="topbar-menu active-topbar-menu !p-6 w-60 z-50 !hidden rounded">
                 <li role="menuitem" class="!m-0 !mb-4">
                     <a routerLink="/profile" class="flex items-center hover:text-primary-500 duration-200"
                         pStyleClass="@grandparent" enterFromClass="!hidden" enterActiveClass="animate-scalein"
                         leaveToClass="!hidden" leaveActiveClass="animate-fadeout" [hideOnOutsideClick]="true">
                         <i class="pi pi-fw pi-lock mr-2"></i>
                         <span>Perfíl</span>
                     </a>
                 </li>
                 <li (click)="signOut()" role="menuitem" class="!m-0">
                     <a href="#" (click)="$event.preventDefault()"
                         class="flex items-center hover:text-primary-500 duration-200" pStyleClass="@grandparent"
                         enterFromClass="!hidden" enterActiveClass="animate-scalein" leaveToClass="!hidden"
                         leaveActiveClass="animate-fadeout" [hideOnOutsideClick]="true">
                         <i class="pi pi-fw pi-sign-out mr-2"></i>
                         <span>Sair</span>
                     </a>
                 </li>
             </ul>
         </li>
     </ul>
 </div>