<div class="card">
    <p-table #dt [value]="applications" [paginator]="true" paginatorDropdownAppendTo="body" [rows]="10"
        [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]" [globalFilterFields]="['firstName', 'role.name', 'email', 'status']">
        <ng-template #caption>
            <div class="flex flex-wrap gap-2 items-center justify-between">
                <p-icon-field class="w-1/2 sm:w-80 order-1 sm:order-none">
                    <p-inputicon class="pi pi-search" />
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Busca"
                        class="w-full" />
                </p-icon-field>
                <!-- <button pButton outlined routerLink="/application/create"
                    class="w-full sm:w-auto flex-order-0 sm:flex-order-1" icon="pi pi-plus"
                    label="Adicionar novo"></button> -->
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th pSortableColumn="firstName" class="white-space-nowrap">Nº da Aplicante
                    <p-sortIcon field="firstName">
                    </p-sortIcon>
                </th>
                @if (currentRole === roleAdmin) {
                <th pSortableColumn="firstName" class="white-space-nowrap">Empresa
                    <p-sortIcon field="firstName">
                    </p-sortIcon>
                </th>
                }
                <th pSortableColumn="categoria" class="white-space-nowrap">Categoria <p-sortIcon field="categoria">
                    </p-sortIcon>
                <th pSortableColumn="nomeEmpresa" class="white-space-nowrap">Tipo<p-sortIcon field="nomeEmpresa">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="role.name" class="white-space-nowrap">Criado em<p-sortIcon field="role.name">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="status" class="white-space-nowrap">Estado <p-sortIcon field="activity">
                    </p-sortIcon>
                </th>
                <th class="white-space-nowrap">
                    Ações
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-candidatura>
            <tr>
                <td>
                    {{ candidatura.numero }}
                </td>
                @if (currentRole === roleAdmin) {
                    <td>
                        {{candidatura.empresa.nome}}
                    </td>
                }
                <td>
                    {{ candidatura.categoria }}
                </td>
                <td>
                    {{candidatura.tipo}}
                </td>
                <td>
                    {{ candidatura.createdAt | date: 'dd/MMM/yyyy, HH:mm:ss' }}
                </td>
                <td>
                    <p-tag value="{{candidatura.estado.replace('_', ' ') | titlecase}}"
                        [severity]="candidatura.estado | statusSeverity" icon="{{candidatura.estado | statusIcon}}" />
                </td>

                <td>
                    <p-button (click)="op.toggle($event)" icon="pi pi-ellipsis-v" [rounded]="true" [text]="true"
                        severity="info" />
                    <p-popover #op>
                        <div class="flex flex-col gap-1 w-[25rem]">
                            <ul class="topbar-menu active-topbar-menu z-50 rounded">
                                <li role="menuitem" class="!m-0 !mb-4">
                                    <a href="#">
                                        <i class="pi pi-fw pi-eye mr-2"></i>
                                        <span>Detalho</span>
                                    </a>
                                </li>
                                <li role="menuitem" class="!m-0">
                                    <a [routerLink]="['/empresa', candidatura.id]">
                                        <i class="pi pi-fw pi-trash mr-2"></i>
                                        <span>Eliminar</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </p-popover>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>