 <form [formGroup]="requestForm">
     <span class="text-xl font-bold mt-6 mb-3 block">
         PEDIDO
     </span>
     <div class="grid grid-cols-12 gap-4">
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="application" class="font-medium text-surface-900 dark:text-surface-0 mb-2 block">
                 Tipo
             </label>
             <p-select inputId="application" [options]="tipoPedidoOpts" optionLabel="name" fluid filterBy="name"
                 [showClear]="true" placeholder="Selecione o tipo">
             </p-select>
         </div>
     </div>
     <span class="text-xl font-bold mt-6 mb-3 block">
         IDENTIFICACAO DA EMPRESA
     </span>
     <div class="grid grid-cols-12 gap-4">
         <div class="mb-6 col-span-12">
             <label for="nomeEmpresa" class="font-medium text-surface-900 dark:text-surface-0 mb-2 block">
                 Nome da Empresa
             </label>
             <input formControlName="nomeEmpresa" id="nomeEmpresa" type="text" pInputText fluid />
         </div>
         <div class="mb-6 col-span-12">
             <div formGroupName="sede" class="grid grid-cols-12">
                 <div class="mb-6 col-span-12">
                     <label for="local" class="font-medium text-surface-900 dark:text-surface-0 mb-2 block">
                         Sede
                     </label>
                     <input formControlName="local" id="local" type="text" pInputText fluid />
                 </div>
                 <div class="mb-6 col-span-12">
                     <div class="flex flex-col sm:flex-row sm:items-center gap-6">
                         <div class="flex-auto">
                             <label for="municipio" class="font-medium text-surface-900 dark:text-surface-0 mb-2 block">
                                 Municipio
                             </label>
                             <p-select inputId="municipio" [options]="listaMunicipio" optionLabel="nome" fluid
                                 [showClear]="true" placeholder="Selecione o Municipio">
                             </p-select>
                         </div>
                         <div class="flex-auto">
                             <label for="posto" class="font-medium text-surface-900 dark:text-surface-0 mb-2 block">
                                 Posto Administrativo
                             </label>
                             <p-select inputId="posto" [options]="listaPosto" optionLabel="nome" fluid
                                 [showClear]="true" placeholder="Selecione o Posto">
                             </p-select>
                         </div>
                         <div class="flex-auto">
                             <label for="suco" class="font-medium text-surface-900 dark:text-surface-0 mb-2 block">
                                 Suco
                             </label>
                             <p-select inputId="suco" [options]="listaSuco" optionLabel="nome" fluid [showClear]="true"
                                 placeholder="Selecione o Suco">
                             </p-select>
                         </div>
                         <div class="flex-auto">
                             <label for="aldeia" class="font-medium text-surface-900 dark:text-surface-0 mb-2 block">
                                 Aldeia
                             </label>
                             <p-select formControlName="aldeia" inputId="aldeia" [options]="listaAldeia"
                                 optionLabel="nome" fluid [showClear]="true" placeholder="Selecione o Suco">
                             </p-select>
                         </div>
                     </div>
                 </div>
             </div>

         </div>
         <!-- <div class="mb-6 col-span-12 md:col-span-6">
             <label for="sede" class="font-medium text-surface-900 dark:text-surface-0 mb-2 block">
                 Sede
             </label>
             <input formControlName="sede" id="sede" type="text" pInputText fluid />
         </div> -->

         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="nif" class="font-medium text-surface-900 dark:text-surface-0 mb-2 block">
                 NIF
             </label>
             <input formControlName="nif" id="nif" type="text" pInputText fluid />
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="numeruRegisto" class="font-medium text-surface-900 dark:text-surface-0 mb-2 block">
                 Nº Registo Comercial/Industrial
             </label>
             <input formControlName="numeroRegistoComercial" id="numeruRegisto" type="text" pInputText fluid />
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="telemovel" class="font-medium text-surface-900 dark:text-surface-0 mb-2 block">
                 Telemovel
             </label>
             <input formControlName="telemovel" id="telemovel" type="text" pInputText fluid />
         </div>

         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="telefone" class="font-medium text-surface-900 dark:text-surface-0 mb-2 block">
                 Telefone
             </label>
             <input formControlName="telefone" id="telefone" type="text" pInputText fluid />
         </div>
         <div class="mb-6 col-span-12">
             <label for="gerente" class="font-medium text-surface-900 dark:text-surface-0 mb-2 block">
                 Gerente
             </label>
             <input formControlName="gerente" id="gerente" type="text" pInputText fluid />
         </div>
     </div>
     <span class="text-xl font-bold mt-6 mb-3 block">
         IDENTIFICACAO DO ESTABELECIMENTO
     </span>
     <div class="grid grid-cols-12 gap-4">
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="nomeEstabelecimento" class="font-medium text-surface-900 dark:text-surface-0 mb-2 block">
                 Nome do Estabelecimento
             </label>
             <input formControlName="nomeEstabelecimento" id="nomeEstabelecimento" type="text" pInputText fluid />
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="localEstabelecimento" class="font-medium text-surface-900 dark:text-surface-0 mb-2 block">
                 Local do Estabelecimento
             </label>
             <input formControlName="localEstabelecimento" id="localEstabelecimento" type="text" pInputText fluid />
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="tipoEstabelecimento" class="font-medium text-surface-900 dark:text-surface-0 mb-2 block">
                 Tipo do Estabelecimento
             </label>
             <p-select inputId="tipoEstabelecimento" [options]="tipoEstabelecimentoOpts" optionLabel="name" fluid
                 filterBy="name" [showClear]="true" placeholder="Selecione o Tipo de Estabelecimento">
             </p-select>
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="caraterizacaoEstabelecimento"
                 class="font-medium text-surface-900 dark:text-surface-0 mb-2 block">
                 Caraterizacao do Estabelecimento
             </label>
             <p-select inputId="caraterizacaoEstabelecimento" [options]="caraterizacaEstabelecimentoOpts"
                 optionLabel="name" fluid filterBy="name" [showClear]="true"
                 placeholder="Selecione a Caraterizacao do Estabelecimento">
             </p-select>
         </div>
     </div>

     <span class="text-xl font-bold mt-6 mb-3 block">
         CARATERIZACAO DA ATIVIDADE
     </span>
     <div class="grid grid-cols-12 gap-4">
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="risco" class="font-medium text-surface-900 dark:text-surface-0 mb-2 block">
                 Quanto ao Risco
             </label>
             <p-select inputId="risco" [options]="nivelRiscoOpts" optionLabel="name" fluid filterBy="name"
                 [showClear]="true" placeholder="Selecione o risco">
             </p-select>
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="ato" class="font-medium text-surface-900 dark:text-surface-0 mb-2 block">
                 Quanto ao tipo de Ato
             </label>
             <p-select inputId="ato" [options]="tipoAtoOpts" optionLabel="name" fluid filterBy="name" [showClear]="true"
                 placeholder="Selecione o tipo de ato">
             </p-select>
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="tipoAtividade" class="font-medium text-surface-900 dark:text-surface-0 mb-2 block">
                 Tipo de Atividade no Estabelecimento
             </label>
             <input formControlName="tipoAtividade" id="tipoAtividade" type="text" pInputText fluid />
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="tipoAtividadeCodigo" class="font-medium text-surface-900 dark:text-surface-0 mb-2 block">
                 Codigo
             </label>
             <input id="tipoAtividadeCodigo" type="text" pInputText fluid />
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="atividadePrincipal" class="font-medium text-surface-900 dark:text-surface-0 mb-2 block">
                 Atividade Principal exercida no Estabelecimento
             </label>
             <input formControlName="atividadePrincipal" id="atividadePrincipal" type="text" pInputText fluid />
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="atividadePrincipalCodigo" class="font-medium text-surface-900 dark:text-surface-0 mb-2 block">
                 Codigo
             </label>
             <input id="atividadePrincipalCodigo" type="text" pInputText fluid />
         </div>

         <div class="mb-6 col-span-12">
             <label for="alteracoes" class="font-medium text-surface-900 dark:text-surface-0 mb-2 block">
                 Alteracoes a Averbar
             </label>
             <input formControlName="alteracoes" id="alteracoes" type="text" pInputText fluid />
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="dataEmissao" class="font-medium text-surface-900 dark:text-surface-0 mb-2 block">
                 Data da Emissao do Certificado anterior (Se Aplicavel)
             </label>
             <input formControlName="dataEmissaoCertAnterior" id="dataEmissao" type="date" pInputText fluid />
         </div>
         <div class="mb-6 col-span-12">
             <label for="observacao" class="font-medium text-surface-900 dark:text-surface-0 mb-2 block">
                 Observacao
             </label>
             <input formControlName="observacao" id="observacao" type="text" pInputText fluid />
         </div>
     </div>
 </form>