<p-fluid class="min-h-screen text-center" style="padding: 50% 10% 20% 10%;">
    <div class="flex flex-col">
        <div class="flex items-center justify-center">
            <img src="/images/logo.png" style="width: 100px" alt="logo" />
        </div>
        <p class="text-2xl font-bold mb-4">
            Sistema de Gestão de <br> Licenças Comerciais e Indústriais
        </p>
        <div class="form-container text-left mt-6">
            <span class="text-xl font-semibold m-0">Esqueceu-se da Palavra-passe</span>
            <span class="block text-surface-600 dark:text-surface-200 font-medium">
                Introduza o seu email para redefinir a sua palavra-passe
            </span>
            <div class="flex flex-col mb-4 mt-2" style="max-width: 380px;">
                @for (message of messages(); track message; let first = $first) {
                <p-message [severity]="message.severity" [text]="message.content" />
                }
            </div>
            <p-icon-field>
                <p-inputicon class="pi pi-envelope" />
                <input [formControl]="email" pInputText type="text" placeholder="Email" class="block mb-4" />
            </p-icon-field>
        </div>
        <p-button (click)="submit()" icon="pi pi-send" pButton pRipple type="button" fluid [loading]="loading" label="Enviar"></p-button>
        <div class="flex pt-4 justify-between">
            <span class="font-medium text-surface-400">
                <a [routerLink]="['/auth/login']"
                    class="font-semibold cursor-pointer hover:text-primary transition-colors duration-300">
                    <i class="bi bi-box-arrow-in-left text-xl"></i>
                    Voltar a logar
                </a>
            </span>
        </div>
    </div>
    <!-- <div class="flex items-center absolute" style="bottom: 75px">
        <div class="flex items-center pr-6 mr-6 border-r border-surface-200 dark:border-surface-700">
            <h4>
                Ministério de Comércio e Indústria
            </h4>
        </div>
        <span class="text-sm text-surface-500 dark:text-surface-400 mr-4">Copyright 2025</span>
    </div> -->
</p-fluid>