  <p-fluid
      class="min-h-screen text-center w-full flex items-center md:items-start justify-center flex-col bg-auto md:bg-contain !bg-no-repeat"
      style="padding: 20% 10% 20% 10%; background: var(--exception-pages-image); background-size: contain;">
      <div class="flex flex-col">
          <img src="/images/logo.png" style="width: 100px" alt="logo" />
          <div class="form-container text-left" style="max-width: 320px; min-width: 270px">
              <span
                  class="text-surface-900 dark:text-surface-0 font-bold mb-2 text-2xl m-0 block p-0 ">Verificação</span>
              <span class="text-surface-600 dark:text-surface-200 font-medium">Enviámos o código para o seu e‑mail:</span>
              <div class="flex items-center mt-1 mb-6">
                  <i class="pi pi-envelope text-surface-600 dark:text-surface-200"></i>
                  <span class="text-surface-900 dark:text-surface-0 font-bold ml-2">
                      {{ maskEmail(email) }}
                  </span>
              </div>
              <div class="mb-8">
                  <p-messages></p-messages>
              </div>
              <div class="flex justify-between w-full items-center gap-4">
                  <p-inputOtp [formControl]="otpInput" [length]="6" [variant]="'filled'" [autofocus]="true"
                      [integerOnly]="true">
                  </p-inputOtp>
              </div>
          </div>
          <div class="mt-6 text-left" style="max-width: 320px; min-width: 270px">
              <div class="flex items-center gap-4">
                  <p-button icon="pi pi-times" [routerLink]="['/']" severity="danger" label="Cancelar" outlined>
                  </p-button>
                  <p-button label="Validar" icon="pi pi-check-circle" [loading]="otpLoading"
                      (click)="validateOTP(otpInput)" [disabled]="!otpInput.valid" pRipple>
                  </p-button>
              </div>
          </div>
      </div>
      <div class="flex items-center absolute" style="bottom: 75px">
          <div class="flex items-center pr-6 mr-6 border-r border-surface-200 dark:border-surface-700">
              <h4>
                  Ministério de Comércio e Indústria
              </h4>
          </div>
          <span class="text-sm text-surface-500 dark:text-surface-400 mr-4">Copyright 2025</span>
      </div>
  </p-fluid>