 <p-toast key="tr" position="bottom-right" />
 <div class="card">
     <form [formGroup]="autoVistoriaForm">
         <div class="grid grid-cols-12 gap-4">
             <div class="mb-6 col-span-12">
                 <label for="numeroProcesso" class="font-medium  mb-2 block">
                     Nº Processo
                 </label>
                 <input formControlName="numeroProcesso" id="numeroProcesso" type="text" pInputText fluid />
             </div>
             <div class="mb-6 col-span-12">
                 <label for="dataHora" class="font-medium  mb-2 block">
                     Data e Hora
                 </label>
                 <p-datepicker formControlName="dataHora" [showTime]="true" appendTo="body" [showButtonBar]="true"
                     fluid />
             </div>
             <div class="mb-6 col-span-12">
                 <div formGroupName="local" class="grid grid-cols-12">
                     <div class="mb-6 col-span-12">
                         <label for="local" class="font-medium  mb-2 block">
                             Local do Estabelecimento
                         </label>
                         <input formControlName="local" id="local" type="text" pInputText fluid />
                     </div>
                     <div class="mb-6 col-span-12">
                         <div class="flex flex-col sm:flex-row sm:items-center gap-6">
                             <div class="flex-auto">
                                 <label for="aldeia" class="font-medium  mb-2 block">
                                     Aldeia
                                 </label>
                                 <p-select fluid formControlName="aldeia" [options]="listaAldeia" optionLabel="nome"
                                     optionValue="id" placeholder="Selecione a Aldeia" [filter]="true" filterBy="nome"
                                     [showClear]="true" (onFilter)="aldeiaFilter($event)" (onpanelHide)="onPanelHide()"
                                     (onChange)="aldeiaOnChange($event, 'local')" (onClear)="onPanelHide()">
                                 </p-select>
                             </div>
                             <div class="flex-auto">
                                 <label for="suco" class="font-medium  mb-2 block">
                                     Suco
                                 </label>
                                 <input formControlName="suco" id="suco" type="text" pInputText fluid />
                             </div>
                             <div class="flex-auto">
                                 <label for="postoAdministrativo" class="font-medium  mb-2 block">
                                     Posto Administrativo
                                 </label>
                                 <input formControlName="postoAdministrativo" id="postoAdministrativo" type="text"
                                     pInputText fluid />
                             </div>
                             <div class="flex-auto">
                                 <label for="municipio" class="font-medium  mb-2 block">
                                     Municipio
                                 </label>
                                 <input formControlName="municipio" id="municipio" type="text" pInputText fluid />
                             </div>
                         </div>
                     </div>
                 </div>
             </div>

         </div>
         <span class="text-xl font-bold mt-6 mb-3 block text-center">
             REQUERENTE
         </span>
         <div formGroupName="requerente">
             <div class="grid grid-cols-12 gap-4">
                 <div class="mb-6 col-span-12 md:col-span-6">
                     <label for="denominacaoSocial" class="font-medium  mb-2 block">
                         Denominacao Social
                     </label>
                     <input formControlName="denominacaoSocial" id="denominacaoSocial" type="text" pInputText fluid />
                 </div>
                 <div class="mb-6 col-span-12 md:col-span-6">
                     <label for="numeroRegistoComercial" class="font-medium  mb-2 block">
                         Nº de Registo Comercial
                     </label>
                     <input formControlName="numeroRegistoComercial" id="numeroRegistoComercial" type="text" pInputText
                         fluid />
                 </div>
                 <div class="mb-6 col-span-12">
                     <div formGroupName="sede" class="grid grid-cols-12">
                         <div class="mb-6 col-span-12">
                             <label for="local" class="font-medium  mb-2 block">
                                 Sede
                             </label>
                             <input formControlName="local" id="local" type="text" pInputText fluid
                                 placeholder="ex. Av. Pres. Nicolau Lobato" />
                         </div>
                         <div class="mb-6 col-span-12">
                             <div class="flex flex-col sm:flex-row sm:items-center gap-6">
                                 <div class="flex-auto">
                                     <label for="aldeia" class="font-medium  mb-2 block">
                                         Aldeia
                                     </label>
                                     <p-select fluid formControlName="aldeia" [options]="listaAldeiaRequerente"
                                         optionLabel="nome" optionValue="id" placeholder="Selecione a Aldeia"
                                         [filter]="true" filterBy="nome" [showClear]="true"
                                         (onFilter)="aldeiaFilter($event, 'requerente', 'sede')"
                                         (onpanelHide)="onPanelHide()"
                                         (onChange)="aldeiaNestedOnChange($event, 'requerente', 'sede')"
                                         (onClear)="onPanelHide()">
                                     </p-select>
                                 </div>
                                 <div class="flex-auto">
                                     <label for="suco" class="font-medium  mb-2 block">
                                         Suco
                                     </label>
                                     <input formControlName="suco" id="suco" type="text" pInputText fluid />
                                 </div>
                                 <div class="flex-auto">
                                     <label for="postoAdministrativo" class="font-medium  mb-2 block">
                                         Posto Administrativo
                                     </label>
                                     <input formControlName="postoAdministrativo" id="postoAdministrativo" type="text"
                                         pInputText fluid />
                                 </div>
                                 <div class="flex-auto">
                                     <label for="municipio" class="font-medium  mb-2 block">
                                         Municipio
                                     </label>
                                     <input formControlName="municipio" id="municipio" type="text" pInputText fluid />
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="mb-6 col-span-12 md:col-span-6">
                     <label for="nif" class="font-medium  mb-2 block">
                         NIF
                     </label>
                     <input formControlName="nif" id="nif" type="text" pInputText fluid />
                 </div>
                 <div class="mb-6 col-span-12 md:col-span-6">
                     <label for="gerente" class="font-medium  mb-2 block">
                         Gerente
                     </label>
                     <input formControlName="gerente" id="gerente" type="text" pInputText fluid />
                 </div>
                 <div class="mb-6 col-span-12 md:col-span-6">
                     <label for="telefone" class="font-medium  mb-2 block">
                         Telefone
                     </label>
                     <input formControlName="telefone" id="telefone" type="text" pInputText fluid />
                 </div>
                 <div class="mb-6 col-span-12 md:col-span-6">
                     <label for="email" class="font-medium  mb-2 block">
                         Email
                     </label>
                     <input formControlName="email" id="email" type="text" pInputText fluid />
                 </div>
                 <div class="mb-6 col-span-12 md:col-span-6">
                     <label for="classeAtividade" class="font-medium  mb-2 block">
                         Classificacao Atividade
                     </label>
                     <p-select fluid formControlName="classeAtividade" [options]="listaClassificacaoAtividade"
                         (onChange)="classeAtividadeChange($event)" optionLabel="codigo"
                         placeholder="Selecione a Classificacao Atividade" [showClear]="true">
                         <ng-template let-tipo #item>
                             <div class="flex items-center gap-2">
                                 <span>{{tipo.codigo}} </span> - <span>{{tipo.descricao}} </span>
                             </div>
                         </ng-template>
                     </p-select>
                 </div>
                 <div class="mb-6 col-span-12 md:col-span-6">
                     <label for="classeAtividadeCodigo" class="font-medium  mb-2 block">
                         Descricao
                     </label>
                     <input formControlName="classeAtividadeCodigo" id="classeAtividadeCodigo" type="text" pInputText
                         fluid />
                 </div>
                 <div class="mb-6 col-span-12">
                     <label for="nomeRepresentante" class="font-medium  mb-2 block">
                         Nome Representante
                     </label>
                     <input formControlName="nomeRepresentante" id="nomeRepresentante" type="text" pInputText fluid />
                 </div>
                 <div class="mb-6 col-span-12 md:col-span-6">
                     <label for="pai" class="font-medium  mb-2 block">
                         Pai
                     </label>
                     <input formControlName="pai" id="pai" type="text" pInputText fluid />
                 </div>
                 <div class="mb-6 col-span-12 md:col-span-6">
                     <label for="mae" class="font-medium  mb-2 block">
                         Mae
                     </label>
                     <input formControlName="mae" id="mae" type="text" pInputText fluid />
                 </div>
                 <div class="mb-6 col-span-12 md:col-span-6">
                     <label for="dataNascimento" class="font-medium  mb-2 block">
                         Data Nascimento
                     </label>
                     <p-datepicker formControlName="dataNascimento" id="dataNascimento" appendTo="body"
                         [showButtonBar]="true" fluid />
                 </div>
                 <div class="mb-6 col-span-12 md:col-span-6">
                     <label for="estadoCivil" class="font-medium  mb-2 block">
                         Estado Civil
                     </label>
                     <input formControlName="estadoCivil" id="estadoCivil" type="text" pInputText fluid />
                 </div>
                 <div class="mb-6 col-span-12 md:col-span-6">
                     <label for="nacionalidade" class="font-medium  mb-2 block">
                         Nacionalidade
                     </label>
                     <input formControlName="nacionalidade" id="nacionalidade" type="text" pInputText fluid />
                 </div>
                 <div class="mb-6 col-span-12 md:col-span-6">
                     <label for="naturalidade" class="font-medium  mb-2 block">
                         Natural de
                     </label>
                     <input formControlName="naturalidade" id="naturalidade" type="text" pInputText fluid />
                 </div>
                 <div class="mb-6 col-span-12 md:col-span-6">
                     <label for="tipoDocumento" class="font-medium  mb-2 block">
                         Tipo de Documento de Identificação
                     </label>
                     <p-select fluid formControlName="tipoDocumento" id="tipoDocumento" [options]="tipoDocumentoOpts"
                         optionLabel="name" optionValue="value" placeholder="Selecione o Tipo de Documento"
                         [filter]=" true" filterBy="nome" [showClear]="true">
                     </p-select>
                 </div>
                 <div class="mb-6 col-span-12 md:col-span-6">
                     <label for="numeroDocumento" class="font-medium  mb-2 block">
                         Nº Documento de Identificacao
                     </label>
                     <input formControlName="numeroDocumento" id="numeroDocumento" type="text" pInputText fluid />
                 </div>
                 <div class="mb-6 col-span-12">
                     <div formGroupName="residencia" class="grid grid-cols-12">
                         <div class="mb-6 col-span-12">
                             <label for="local" class="font-medium  mb-2 block">
                                 Residência
                             </label>
                             <input formControlName="local" id="local" type="text" pInputText fluid
                                 placeholder="ex. Av. Pres. Nicolau Lobato" />
                         </div>
                         <div class="mb-6 col-span-12">
                             <div class="flex flex-col sm:flex-row sm:items-center gap-6">
                                 <div class="flex-auto">
                                     <label for="aldeia" class="font-medium  mb-2 block">
                                         Aldeia
                                     </label>
                                     <p-select fluid formControlName="aldeia" [options]="listaAldeiaResidencia"
                                         optionLabel="nome" optionValue="id" placeholder="Selecione a Aldeia"
                                         [filter]="true" filterBy="nome" [showClear]="true"
                                         (onFilter)="aldeiaFilter($event, 'requerente', 'residencia')"
                                         (onpanelHide)="onPanelHide()"
                                         (onChange)="aldeiaNestedOnChange($event, 'requerente', 'residencia')"
                                         (onClear)="onPanelHide()">
                                     </p-select>
                                 </div>
                                 <div class="flex-auto">
                                     <label for="suco" class="font-medium  mb-2 block">
                                         Suco
                                     </label>
                                     <input formControlName="suco" id="suco" type="text" pInputText fluid />
                                 </div>
                                 <div class="flex-auto">
                                     <label for="postoAdministrativo" class="font-medium  mb-2 block">
                                         Posto Administrativo
                                     </label>
                                     <input formControlName="postoAdministrativo" id="postoAdministrativo" type="text"
                                         pInputText fluid />
                                 </div>
                                 <div class="flex-auto">
                                     <label for="municipio" class="font-medium  mb-2 block">
                                         Municipio
                                     </label>
                                     <input formControlName="municipio" id="municipio" type="text" pInputText fluid />
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <span class="text-xl font-bold mt-6 mb-3 block text-center">
             PARTICIPANTES
         </span>
         <div formArrayName="membrosEquipaVistoria">
             @for (membro of membrosEquipaVistoria.controls; track membro; let i = $index) {
             <div class="grid grid-cols-12 gap-4 mt-6" [formGroupName]="i">
                 <div class="mb-6 col-span-12 md:col-span-6">
                     <label for="nome" class="font-medium  mb-2 block">
                         Nome
                     </label>
                     <input formControlName="nome" id="nome" type="text" pInputText fluid />
                 </div>
                 <div class="mb-6 col-span-12 md:col-span-6">
                     <label for="telemovel" class="font-medium mb-2 block">
                         Nº Telemóvel
                     </label>
                     <input formControlName="telemovel" id="telemovel" type="tel" pInputText fluid />
                 </div>
                 <div class="mb-6 col-span-12 md:col-span-6">
                     <label for="instituicao" class="font-medium  mb-2 block">
                         Instituicao
                     </label>
                     <p-select fluid formControlName="areaRepresentante" [options]="availablePositions(i)"
                         optionLabel="name" optionValue="value" placeholder="Selecione a Area Representante"
                         [filter]=" true" filterBy="nome" [showClear]="true">
                     </p-select>
                 </div>
                 <div class="mb-6 col-span-12 md:col-span-6">
                     <label for="cargo" class="font-medium  mb-2 block">
                         Cargo
                     </label>
                     <input formControlName="cargo" id="cargo" type="text" pInputText fluid />
                 </div>
                 <div class="mb-6 col-span-12 md:col-span-6">
                     <label for="tipoDocumento" class="font-medium  mb-2 block">
                         Tipo Documento
                     </label>
                     <p-select fluid formControlName="tipoDocumento" [options]="tipoDocumentoOpts" optionLabel="name"
                         optionValue="value" placeholder="Selecione o tipo documento" [showClear]="true">
                     </p-select>
                 </div>
                 <div class="mb-6 col-span-12 md:col-span-6">
                     <label for="numeroDocumentoParticipante" class="font-medium  mb-2 block">
                         Nº Documento
                     </label>
                     <input formControlName="numeroDocumento" id="numeroDocumentoParticipante" type="text" pInputText
                         fluid />
                 </div>
             </div>
             <p-button label="Remover Participante" icon="pi pi-minus" (click)="removeParticipanteForm(i)"
                 severity="danger" [disabled]="membrosEquipaVistoria.length <= 1"></p-button>
             }
             <div class=" mt-6">
                 <p-button label="Adicionar Participante" icon="pi pi-plus" (click)="addParticipanteForm()"
                     [disabled]="minimalParticipante()" severity="success" class="mt-2">
                 </p-button>
             </div>
         </div>
         <span class="text-xl font-bold mt-6 mb-3 block text-center">
             DILIGENCIA DE VISTORIA
         </span>
         <div class="grid grid-cols-12 gap-4">
             <div class="mb-6 col-span-12">
                 <p class="mb-6 leading-relaxed">
                     Na data, hora e local acima referidos, F (<span class="font-italic">nome do
                         atuante</span>)
                     <input formControlName="nomeAtuante" id="funcionario" type="text" pInputText variant="filled"
                         placeholder="Digite o nome do atuante" />
                     ,
                     estando presentes os demais participantes acima indicados, dei início à vistoria
                     prevista no artigo 12.º do Decreto-Lei n.º 89/2023, de 20 de dezembro, exigida para
                     efeitos de emissão da licença destinada ao exercício da atividade comercial.
                 </p>
             </div>
         </div>
         <p class="mb-6 leading-relaxed">
             O ato de vistoria incidiu sobre as condicoes tecnicas e sanitarias dos estabelecimentos
             comerciais, confirme o Anexo IV do diploma mencionado, a saber
         </p>
         <span class="text-lg font-bold mt-6 mb-3 block">
             I - Escolha do local de implantacao
         </span>
         <div class="grid grid-cols-12 gap-4">
             <div class="mb-4 col-span-12 md:col-span-8">
                 <label for="legislacaoUrbanistica" class="font-medium  mb-2 block">
                     1. A escolha do local deve staisfazer as exigencias da legislacao urbanistica, tendo
                     em
                     conta especialmente os planos urbanisticos existentes ou as indicacoes dadas pelas
                     autoridades locais competentes
                 </label>
                 <p-selectbutton [options]="stateOptions" formControlName="legislacaoUrbanistica" optionLabel="label"
                     optionValue="value" />

                 @if(autoVistoriaForm.get('legislacaoUrbanistica')?.value === true) {
                 @if (loadingUploadButtons.has('legislacaoUrbanistica')) {
                 <div class="w-1/2">
                     <p-progressbar mode="indeterminate" [style]="{ height: '6px' }" />
                 </div>
                 }
                 <div class="flex justify-start pt-2">
                     <p-fileupload [chooseLabel]="'Selecione'" name="files" method="post"
                         [chooseIcon]="'pi pi-file-arrow-up'" (onUpload)="onUpload($event, 'legislacaoUrbanistica')"
                         [maxFileSize]="maxFileSize" accept="application/pdf" mode="basic" [url]="uploadUrl()"
                         (onProgress)="uploadOnProgress($event, 'legislacaoUrbanistica')"
                         [disabled]="getFileByField('legislacaoUrbanistica')" [auto]="true">
                     </p-fileupload>
                 </div>
                 @if (getFileByField('legislacaoUrbanistica')) {
                 <div>
                     <a class="cursor-pointer hover:underline hover:text-teal-300 ms-4">
                         {{getFileByField('legislacaoUrbanistica').nome}}
                     </a>
                     @if (getFileByField('legislacaoUrbanistica').id) {
                     <p-button (click)="downloadDoc(getFileByField('legislacaoUrbanistica'))"
                         [loading]="loadingDownloadButtons.has(getFileByField('legislacaoUrbanistica').nome)"
                         icon="pi pi-download" [rounded]="true" [text]="true" severity="success" />
                     }
                     <p-button icon="pi pi-trash" [rounded]="true" [text]="true"
                         [loading]="loadingRemoveButtons.has(getFileByField('legislacaoUrbanistica').nome)"
                         severity="danger" (click)="removeDoc(getFileByField('legislacaoUrbanistica'))" />
                 </div>
                 }
                 }

                 @if(autoVistoriaForm.get('legislacaoUrbanistica')?.value === false) {
                 <div class="mb-12 col-span-12 pt-1">
                     <label for="legislacaoUrbanisticaDescricao" class="font-medium  mb-2 block">
                         Descrição:
                     </label>
                     <textarea id="legislacaoUrbanisticaDescricao" rows="4" cols="15" variant="outlined" pTextarea
                         formControlName="legislacaoUrbanisticaDescricao" fluid></textarea>
                 </div>
                 }
             </div>
             @if (autoVistoriaForm.get('legislacaoUrbanistica')?.value === true) {
             <div class="mb-6 col-span-12 md:col-span-6">
                 <label for="tipoLocal" class="font-medium  mb-2 block">
                     Tipo de Localidade
                 </label>
                 <p-select fluid formControlName="tipoLocal" [options]="tipoLocalOpts" optionLabel="name"
                     optionValue="value" placeholder="Selecione o tipo de localidade" [showClear]="true">
                 </p-select>
             </div>
             }
         </div>
         <span class="text-md font-bold mt-6 mb-3 block">
             2. O terreno escholhido tendo em conta as facilidades:
         </span>
         <div class="grid grid-cols-12 gap-4 pl-4">
             <div class="mb-3 col-span-12">
                 <label for="acessoEstrada" class="font-medium  mb-2 block">
                     a) De acesso por estrada:
                 </label>
                 <p-selectbutton [options]="stateOptions" formControlName="acessoEstrada" optionLabel="label"
                     optionValue="value" />
                 @if(autoVistoriaForm.get('acessoEstrada')?.value === true) {
                 @if (loadingUploadButtons.has('acessoEstrada')) {
                 <div class="w-1/2">
                     <p-progressbar mode="indeterminate" [style]="{ height: '6px' }" />
                 </div>
                 }
                 <div class="flex justify-start pt-2">
                     <p-fileupload [chooseLabel]="'Selecione'" name="files" method="post"
                         [chooseIcon]="'pi pi-file-arrow-up'" (onUpload)="onUpload($event, 'acessoEstrada')"
                         [maxFileSize]="maxFileSize" accept="application/pdf" mode="basic" [url]="uploadUrl()"
                         (onProgress)="uploadOnProgress($event, 'acessoEstrada')"
                         [disabled]="getFileByField('acessoEstrada')" [auto]="true">
                     </p-fileupload>
                 </div>
                 @if (getFileByField('acessoEstrada')) {
                 <div>
                     <a class="cursor-pointer hover:underline hover:text-teal-300 ms-4">
                         {{getFileByField('acessoEstrada').nome}}
                     </a>
                     @if (getFileByField('acessoEstrada').id) {
                     <p-button (click)="downloadDoc(getFileByField('acessoEstrada'))"
                         [loading]="loadingDownloadButtons.has(getFileByField('acessoEstrada').nome)"
                         icon="pi pi-download" [rounded]="true" [text]="true" severity="success" />
                     }
                     <p-button icon="pi pi-trash" [rounded]="true" [text]="true"
                         [loading]="loadingRemoveButtons.has(getFileByField('acessoEstrada').nome)" severity="danger"
                         (click)="removeDoc(getFileByField('acessoEstrada'))" />
                 </div>
                 }
                 }
             </div>
             @if(autoVistoriaForm.get('acessoEstrada')?.value === false) {
             <div class="mb-12 col-span-12">
                 <label for="acessoEstradaDescricao" class="font-medium  mb-2 block">
                     Descrição:
                 </label>
                 <textarea id="acessoEstradaDescricao" rows="4" cols="15" variant="outlined" pTextarea
                     formControlName="acessoEstradaDescricao" fluid></textarea>
             </div>
             }
             @if (autoVistoriaForm.get('acessoEstrada')?.value === true) {
             <div class="mb-6 col-span-12 md:col-span-6">
                 <label for="superficie" class="font-medium  mb-2 block">
                     Largura da Estrada
                 </label>
                 <p-inputgroup>
                     <p-inputnumber formControlName="superficie" mode="decimal" [minFractionDigits]="2"
                         [maxFractionDigits]="2" />
                     <p-inputgroup-addon>
                         <span class="text-2xl font-bold">m</span>
                     </p-inputgroup-addon>
                 </p-inputgroup>
             </div>
             }
             <div class="mb-6 col-span-12">
                 <label for="escoamentoAguas" class="font-medium  mb-2 block">
                     b) De escoamento de aguas residuais, as quais devem obedecer a regulamentacao
                     adotada
                     ou a adotar relativa ao sanemento publico
                 </label>
                 <p-selectbutton [options]="stateOptions" formControlName="escoamentoAguas" optionLabel="label"
                     optionValue="value" />
                 @if(autoVistoriaForm.get('escoamentoAguas')?.value === true) {
                 @if (loadingUploadButtons.has('escoamentoAguas')) {
                 <div class="w-1/2">
                     <p-progressbar mode="indeterminate" [style]="{ height: '6px' }" />
                 </div>
                 }
                 <div class="flex justify-start pt-2">
                     <p-fileupload [chooseLabel]="'Selecione'" name="files" method="post"
                         [chooseIcon]="'pi pi-file-arrow-up'" (onUpload)="onUpload($event, 'escoamentoAguas')"
                         [maxFileSize]="maxFileSize" accept="application/pdf" mode="basic" [url]="uploadUrl()"
                         (onProgress)="uploadOnProgress($event, 'escoamentoAguas')"
                         [disabled]="getFileByField('escoamentoAguas')" [auto]="true">
                     </p-fileupload>
                 </div>
                 @if (getFileByField('escoamentoAguas')) {
                 <div>
                     <a class="cursor-pointer hover:underline hover:text-teal-300 ms-4">
                         {{getFileByField('escoamentoAguas').nome}}
                     </a>
                     @if (getFileByField('escoamentoAguas').id) {
                     <p-button (click)="downloadDoc(getFileByField('escoamentoAguas'))"
                         [loading]="loadingDownloadButtons.has(getFileByField('escoamentoAguas').nome)"
                         icon="pi pi-download" [rounded]="true" [text]="true" severity="success" />
                     }
                     <p-button icon="pi pi-trash" [rounded]="true" [text]="true"
                         [loading]="loadingRemoveButtons.has(getFileByField('escoamentoAguas').nome)" severity="danger"
                         (click)="removeDoc(getFileByField('escoamentoAguas'))" />
                 </div>
                 }
                 }
                 @if(autoVistoriaForm.get('escoamentoAguas')?.value === false) {
                 <div class="mb-12 col-span-12">
                     <label for="escoamentoAguasDescricao" class="font-medium  mb-2 block">
                         Descrição:
                     </label>
                     <textarea id="escoamentoAguasDescricao" rows="4" cols="15" variant="outlined" pTextarea
                         formControlName="escoamentoAguasDescricao" fluid></textarea>
                 </div>
                 }
             </div>
             <div class="mb-3 col-span-12">
                 <label for="alimentacaoEnergia" class="font-medium  mb-2 block">
                     c) De execucao de um ramal de alimentacao de energia eletrica em media tensao (alta
                     tensao)
                 </label>
                 <p-selectbutton [options]="stateOptions" formControlName="alimentacaoEnergia" optionLabel="label"
                     optionValue="value" />
                 @if(autoVistoriaForm.get('alimentacaoEnergia')?.value === true) {
                 @if (loadingUploadButtons.has('alimentacaoEnergia')) {
                 <div class="w-1/2">
                     <p-progressbar mode="indeterminate" [style]="{ height: '6px' }" />
                 </div>
                 }
                 <div class="flex justify-start pt-2">
                     <p-fileupload [chooseLabel]="'Selecione'" name="files" method="post"
                         [chooseIcon]="'pi pi-file-arrow-up'" (onUpload)="onUpload($event, 'alimentacaoEnergia')"
                         [maxFileSize]="maxFileSize" accept="application/pdf" mode="basic" [url]="uploadUrl()"
                         (onProgress)="uploadOnProgress($event, 'alimentacaoEnergia')"
                         [disabled]="getFileByField('alimentacaoEnergia')" [auto]="true">
                     </p-fileupload>
                 </div>
                 @if (getFileByField('alimentacaoEnergia')) {
                 <div>
                     <a class="cursor-pointer hover:underline hover:text-teal-300 ms-4">
                         {{getFileByField('alimentacaoEnergia').nome}}
                     </a>
                     @if (getFileByField('alimentacaoEnergia').id) {
                     <p-button (click)="downloadDoc(getFileByField('alimentacaoEnergia'))"
                         [loading]="loadingDownloadButtons.has(getFileByField('alimentacaoEnergia').nome)"
                         icon="pi pi-download" [rounded]="true" [text]="true" severity="success" />
                     }
                     <p-button icon="pi pi-trash" [rounded]="true" [text]="true"
                         [loading]="loadingRemoveButtons.has(getFileByField('alimentacaoEnergia').nome)"
                         severity="danger" (click)="removeDoc(getFileByField('alimentacaoEnergia'))" />
                 </div>
                 }
                 }
             </div>
             @if (autoVistoriaForm.get('alimentacaoEnergia')?.value === true) {
             <div class="mb-6 col-span-12 md:col-span-6">
                 <label for="tipoLocal" class="font-medium  mb-2 block">
                     Tipo de Eletricidade
                 </label>
                 <p-select fluid formControlName="tipoEletricidade" [options]="tipoEletricidadeOpts" optionLabel="name"
                     optionValue="value" placeholder="Selecione o tipo" [showClear]="true">
                 </p-select>
             </div>
             }
             @if(autoVistoriaForm.get('alimentacaoEnergia')?.value === false) {
             <div class="mb-12 col-span-12">
                 <label for="alimentacaoEnergiaDescricao" class="font-medium  mb-2 block">
                     Descrição:
                 </label>
                 <textarea id="alimentacaoEnergiaDescricao" rows="4" cols="15" variant="outlined" pTextarea
                     formControlName="alimentacaoEnergiaDescricao" fluid></textarea>
             </div>
             }
         </div>

         <span class="text-lg font-bold mt-6 mb-3 block">
             II - Instalacoes
         </span>
         <span class="text-md font-bold mt-6 mb-3 block">
             Obrigatorias:
         </span>
         <span class="text-md font-bold mt-6 mb-3 block">
             Instalacoes sanitarias de utilizacao comum dotadas de agua corrente
         </span>

         @switch (categoria) {
         @case (COMERCIAL) {
         <div class="grid grid-cols-12 gap-4 pl-4">
             @for (item of comercialFormFields; track $index) {
             <div class="mb-6 col-span-12">
                 <label [for]="item.name" class="font-medium  mb-2 block">
                     {{item.label}}
                 </label>
                 <p-selectbutton [options]="stateOptions" [id]="item.name" [formControlName]="item.name"
                     optionLabel="label" optionValue="value" />
                 @if(autoVistoriaForm.get(item.name)?.value === true) {
                 @if (loadingUploadButtons.has(item.name)) {
                 <div class="w-1/2">
                     <p-progressbar mode="indeterminate" [style]="{ height: '6px' }" />
                 </div>
                 }
                 <div class="flex justify-start pt-2">
                     <p-fileupload [chooseLabel]="'Selecione'" name="files" method="post"
                         [chooseIcon]="'pi pi-file-arrow-up'" (onUpload)="onUpload($event, item.name)"
                         [maxFileSize]="maxFileSize" accept="application/pdf" mode="basic" [url]="uploadUrl()"
                         (onProgress)="uploadOnProgress($event, item.name)" [disabled]="getFileByField(item.name)"
                         [auto]="true">
                     </p-fileupload>
                 </div>
                 @if (getFileByField(item.name)) {
                 <div>
                     <a class="cursor-pointer hover:underline hover:text-teal-300 ms-4">
                         {{getFileByField(item.name).nome}}
                     </a>
                     @if (getFileByField(item.name).id) {
                     <p-button (click)="downloadDoc(getFileByField(item.name))"
                         [loading]="loadingDownloadButtons.has(getFileByField(item.name).nome)" icon="pi pi-download"
                         [rounded]="true" [text]="true" severity="success" />
                     }
                     <p-button icon="pi pi-trash" [rounded]="true" [text]="true"
                         [loading]="loadingRemoveButtons.has(getFileByField(item.name).nome)" severity="danger"
                         (click)="removeDoc(getFileByField(item.name))" />
                 </div>
                 }
                 }
                 @if(autoVistoriaForm.get(item.name)?.value === false) {
                 <div class="mb-12 col-span-12 pt-2">
                     <label for="{{item.name}}Descricao" class="font-medium block">
                         Descrição:
                     </label>
                     <textarea id="{{item.name}}Descricao" rows="4" cols="15" variant="outlined" pTextarea
                         formControlName="{{item.name}}Descricao" fluid></textarea>
                 </div>
                 }
             </div>
             }
         </div>
         }

         @case (INDUSTRIAL) {
         <div class="grid grid-cols-12 gap-4 pl-4">
             @for (item of industrialFormFields; track $index) {
             <div class="mb-6 col-span-12">
                 <label [for]="item.name" class="font-medium  mb-2 block">
                     {{item.label}}
                 </label>
                 <p-selectbutton [options]="stateOptions" [id]="item.name" [formControlName]="item.name"
                     optionLabel="label" optionValue="value" />
                 @if(autoVistoriaForm.get(item.name)?.value === true) {
                 @if (loadingUploadButtons.has(item.name)) {
                 <div class="w-1/2">
                     <p-progressbar mode="indeterminate" [style]="{ height: '6px' }" />
                 </div>
                 }
                 <div class="flex justify-start pt-2">
                     <p-fileupload [chooseLabel]="'Selecione'" name="files" method="post"
                         [chooseIcon]="'pi pi-file-arrow-up'" (onUpload)="onUpload($event, item.name)"
                         [maxFileSize]="maxFileSize" accept="application/pdf" mode="basic" [url]="uploadUrl()"
                         (onProgress)="uploadOnProgress($event, item.name)" [disabled]="getFileByField(item.name)"
                         [auto]="true">
                     </p-fileupload>
                 </div>
                 @if (getFileByField(item.name)) {
                 <div>
                     <a class="cursor-pointer hover:underline hover:text-teal-300 ms-4">
                         {{getFileByField(item.name).nome}}
                     </a>
                     @if (getFileByField(item.name).id) {
                     <p-button (click)="downloadDoc(getFileByField(item.name))"
                         [loading]="loadingDownloadButtons.has(getFileByField(item.name).nome)" icon="pi pi-download"
                         [rounded]="true" [text]="true" severity="success" />
                     }
                     <p-button icon="pi pi-trash" [rounded]="true" [text]="true"
                         [loading]="loadingRemoveButtons.has(getFileByField(item.name).nome)" severity="danger"
                         (click)="removeDoc(getFileByField(item.name))" />
                 </div>
                 }
                 }
                 @if(autoVistoriaForm.get(item.name)?.value === false) {
                 <div class="mb-12 col-span-12 pt-2">
                     <label [for]="item.name" class="font-medium block">
                         Descrição:
                     </label>
                     <textarea [id]="item.name" rows="4" cols="15" variant="outlined" pTextarea
                         [formControlName]="item.name" fluid></textarea>
                 </div>
                 }
             </div>
             }
         </div>
         }
         }
         <div class="grid grid-cols-12 gap-4 mb-12">
             <div class="mb-12 col-span-12">
                 <label for="descreverIrregularidades" class="font-medium  mb-2 block">
                    Verificou-se que (descrever as irregularidades e/ou omissões):
                 </label>
                 <textarea id="descreverIrregularidades" rows="5" cols="30" variant="outlined" pTextarea
                     formControlName="descreverIrregularidades" fluid></textarea>
             </div>
         </div>

         <span class="text-xl font-bold mb-3 block text-center">
             CONCLUSÃO
         </span>
         <span class="text-md font-bold mt-6 mb-3 block">
             A Equipa de Vistoria, deliberando, considera o estabelecimento comercial:
         </span>
         <div class="grid grid-cols-12 gap-4 mb-12">
             <div class="mb-6 col-span-12">
                 <label for="aptoAberto" class="font-medium  mb-2 block">
                     Apto para ser aberto ao público
                 </label>
                 <p-selectbutton [options]="stateOptions" id="aptoAberto" formControlName="aptoAberto"
                     optionLabel="label" optionValue="value" />
             </div>
             <div class="mb-6 col-span-12">
                 <label for="comDeficiencias" class="font-medium  mb-2 block">
                     Com deficiências e recomendou a sua superação
                 </label>
                 <p-selectbutton [options]="stateOptions" id="comDeficiencias" formControlName="comDeficiencias"
                     optionLabel="label" optionValue="value" />
             </div>
         </div>
         <span class="text-xl font-bold mb-3 block text-center">
             (CASO APLICAVEL)
         </span>
         <div class="grid grid-cols-12 gap-4 mb-12">
             <div class="mb-12 col-span-12">
                 <label for="recomendacoes" class="font-medium  mb-2 block">
                     Face à(s) irregularidade(s) e omissão(ões) detetadas, tendo em vista o seu
                     suprimento, foram emitidas as
                     seguintes recomendações:
                 </label>
                 <textarea id="recomendacoes" rows="5" cols="30" variant="outlined" pTextarea
                     formControlName="recomendacoes" fluid></textarea>
             </div>
         </div>
         <div class="grid grid-cols-12 gap-4">
             <div class="mb-6 col-span-12">
                 <p class="leading-relaxed">
                     Considerando a complexidade das deficiências a regularizar é concedido o prazo de
                     <input formControlName="prazo" id="prazo" type="text" pInputText variant="filled" />
                     dias, a fim
                     do requerente proceder, querendo, à sua regularização.
                 </p>
                 <p class="leading-relaxed">
                     A não observação das recomendações apresentadas importa, em consequência, o
                     indeferimento do requerido no processo.
                 </p>
                 <p class="leading-relaxed">
                     Neste ato o requerente foi notificado que, decorrido o prazo concedido sem que as
                     deficiências e/ou omissões
                     tenham sido corrigidas ou supridas, o pedido de licenciamento é indeferido, sem
                     direito a qualquer reembolso
                     pelo pagamento de taxas ou impressos.
                 </p>
             </div>
         </div>
         <div class="flex justify-content-end mt-6 mb-6">
             <p-button label="Guardar" icon="pi pi-save" (click)="save(autoVistoriaForm)" [loading]="loading"
                 [disabled]="!autoVistoriaForm.valid" severity="success" />
         </div>
     </form>
 </div>