@if (certificadoData) {
<div class="card">
    <div class="grid grid-cols-12 mb-4">
        <div class="col-span-6">
            <span class="text-2xl font-bold mb-4 mr-4">Alvara de Licença</span>
            <p-button icon="pi pi-file-pdf" size="large" [raised]="true" (click)="generatePDF()" />
        </div>
        <div class="col-span-6 flex justify-end mb-4">
            <p-button (click)="goBack()" icon="pi pi-chevron-circle-left" label="Voltar" severity="help" size="large"
                [text]="true" [rounded]="true" [outlined]="true" [raised]="true" />
        </div>
    </div>

    <div id="myDiv" class="px-16 pt-16 tracking-wider" [ngStyle]="getCategoriaStyle()">
        <div class="relative z-10 text-center pt-6 text-black">
            <div class="flex justify-center pt-4 mb-3">
                <img src="/images/rdtl.png" alt="Logo" class="h-24 w-24 object-contain" />
            </div>

            <div class="font-bold text-2xl uppercase">Ministério do Comércio e Indústria</div>
            @if (certificadoData.pedidoLicencaAtividade.aplicante.categoria === 'COMERCIAL') {
            <div class="font-semibold text-xl">Direção-Geral do Comércio</div>
            } @else {
            <div class="font-semibold text-xl">Direção-Geral da Indústria</div>
            }
        </div>
        <div class="flex justify-center">
            <div class="text-center my-4">
                <div class="mt-4 font-extrabold text-5xl text-sky-600 tracking-wide">ALVARÁ DE LICENÇA</div>
                <div class="text-3xl font-semibold text-sky-600">
                    PARA EXERCÍCIO DA ATIVIDADE
                    {{certificadoData.pedidoLicencaAtividade.aplicante.categoria | uppercase}}
                </div>
            </div>
        </div>

        <div class="grid grid-cols-6 text-black px-8 pt-6">
            <div class="col-span-6 text-xl my-4">
                N.º <span class="font-bold">{{certificadoData.pedidoLicencaAtividade.aplicante.numero}}</span>
            </div>
            <div class="col-span-6 text-xl my-2">
                Sociedade Comercial: <span class="font-bold">
                    {{certificadoData.pedidoLicencaAtividade.nomeEmpresa}} {{certificadoData.tipoSociedadeComercial}}
                </span>
            </div>
            <div class="col-span-6 text-xl my-2">
                Nº Registo Comercial: <span
                    class="font-bold">{{certificadoData.pedidoLicencaAtividade.empresaNumeroRegistoComercial}}</span>
            </div>
            <div class="col-span-6 text-xl my-2">
                NIF: <span class="font-bold">{{certificadoData.pedidoLicencaAtividade.empresaNif}}</span>
            </div>
            <div class="col-span-6 text-xl my-2">
                Sede em: <span class="font-bold">
                    {{certificadoData.sede.local}},
                    {{certificadoData.sede.aldeia.nome}},
                    {{certificadoData.sede.aldeia.suco.nome}},
                    {{certificadoData.sede.aldeia.suco.postoAdministrativo.nome}},
                    {{certificadoData.sede.aldeia.suco.postoAdministrativo.municipio.nome}}
                </span>
            </div>
            <div class="col-span-6 text-xl my-2">
                Nível de risco: <span class="font-bold">{{certificadoData.pedidoLicencaAtividade.risco}}</span>
            </div>
            <div class="col-span-6 text-xl my-2">
                Atividade comercial declarada: <span
                    class="font-bold">{{certificadoData.pedidoLicencaAtividade.classeAtividade.descricao}}</span>
            </div>
            <div class="col-span-6 text-xl my-2">
                Código: <span class="font-bold">{{certificadoData.pedidoLicencaAtividade.classeAtividade.codigo}}</span>
            </div>
            <div class="col-span-6 text-xl my-2">
                Data de Emissão: <span class="font-bold">{{certificadoData.dataEmissao| date:'longDate'}}</span>
            </div>
            <div class="col-span-6 text-xl my-2">
                Validade até: <span class="font-bold">{{certificadoData.dataValidade| date:'longDate'}}</span>
            </div>
        </div>

        <div class="grid grid-cols-4 mt-16">
            <div class="col-span-3 flex items-center justify-center text-center">
                <div class="mb-2 text-black">
                    @if (certificadoData.pedidoLicencaAtividade.aplicante.categoria === 'COMERCIAL') {
                    <p>O Diretor-Geral do Comércio</p>
                    @if (imageUrl) {
                    <img [src]="imageUrl" alt="Signature" style="max-width: 150px" />
                    }
                    <p class="text-gray-600">
                        {{certificadoData.nomeDiretorGeral}}
                    </p>
                    } @else {
                    <p>O Diretor-Geral da Indústria</p>
                    <br>
                    <p class="text-gray-600">
                        {{certificadoData.nomeDiretorGeral}}
                    </p>
                    }

                </div>
            </div>
            <div class="col-span-1 pt-14">
                <qrcode [qrdata]="qrcodeUrl()" [margin]="0" [width]="120" elementType="canvas">
                </qrcode>
            </div>
        </div>
    </div>
</div>
}