 <p-fluid class="min-h-screen text-center" style="padding: 50% 10% 20% 10%;">
     <div class="flex flex-col">
         <div class="flex items-center justify-center">
             <img src="/images/logo.png" style="width: 100px" alt="logo" />
         </div>
         <div class="mt-2 mb-8">
             <p class="text-2xl font-bold mb-4">
                 Sistema de Gestão de <br> Licenças Comerciais e Indústriais
             </p>
         </div>
         <span class="text-xl font-semibold">
             Redefinir Palavra-passe
         </span>
         <div class="flex flex-col mt-4" style="max-width: 380px;">
             @for (message of messages(); track message; let first = $first) {
             <p-message [severity]="message.severity" [text]="message.content" />
             }
         </div>
         @if (isSuccess) {
         <a routerLink="/auth/login" class="p-button font-medium mt-4">
             <i class="pi pi-sign-in"></i> Logar
         </a>
         }
         @if(!isSuccess && !isTokenvalid) {
         <div class="text-center flex items-center justify-center mt-2">
             <form [formGroup]="form">
                 <p-iconfield>
                     <p-password [toggleMask]="true" [feedback]="false" formControlName="newPassword"
                         placeholder="Palavra-passe" class="block mb-4" fluid />
                 </p-iconfield>
                 <p-iconfield>
                     <p-password [toggleMask]="true" [feedback]="false" formControlName="confirmPassword"
                         placeholder="Palavra-passe" class="block mb-4" fluid />
                 </p-iconfield>
                 <div class="mt-6">
                     <p-button icon="pi pi-sync" label="Alterar" [loading]="loading" type="submit"
                         (click)="submit(form)" pRipple [disabled]="!form.valid" fluid></p-button>
                 </div>
                 <div class="flex pt-4 justify-between">
                     <span class="font-medium text-surface-400">
                         <a [routerLink]="['/auth/login']"
                             class="font-semibold cursor-pointer hover:text-primary transition-colors duration-300">
                             <i class="bi bi-box-arrow-in-left text-xl"></i>
                             Voltar a logar
                         </a>
                     </span>
                 </div>
             </form>
         </div>

         }
     </div>
 </p-fluid>