#myDiv {
    width: 210mm;
    min-height: 297mm;
}

.text-red {
    color: red;
    font-weight: 600;
}

.text-blue {
    color: #0769C0;
    font-weight: 600;
}

.qrcode-box {
    width: 120px;
    height: 120px;
}