 <p-fluid class="min-h-screen text-center" style="padding: 50% 10% 20% 10%;">
     <div class="flex flex-col">
         <div class="flex items-center justify-center">
             <img src="/images/logo.png" style="width: 100px" alt="logo" />
         </div>
         <p class="text-2xl font-bold mb-4">
             Sistema de Gestão de <br> Licenças Comerciais e Indústriais
         </p>
         @if (notification) {
         <p-message [severity]="notification.state">
             <ng-template #icon>
                 <i [class]="notification.icon" style="font-size: 2.5rem"></i> &nbsp;
             </ng-template>
             <span class="ml-2 text-lg text-left">
                 {{ notification.message }}
             </span>
         </p-message>
         }
         <div class="mt-6 text-center flex items-center justify-center">
             <button routerLink="/auth/login" icon="pi pi-sign-in" pButton label="Entrar"
                 style="max-width: 200px"></button>
         </div>

     </div>
 </p-fluid>