<div class="card">
    <p-table #dt [value]="dataList" [paginator]="true" paginatorDropdownAppendTo="body" [rows]="50" [columns]="cols"
        [rowHover]="true" [showCurrentPageReport]="true" responsiveLayout="scroll" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]"
        [globalFilterFields]="['codigo', 'descricao', 'tipo', 'tipoRisco', 'ato', 'montante']">
        <ng-template #caption>
            <div class="flex flex-wrap gap-2 items-center justify-between">
                <p-icon-field class="order-1 sm:order-none">
                    <p-inputicon class="pi pi-search" />
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Busca global"
                        class="w-full" />
                </p-icon-field>
                <p-button pButton outlined (click)="openDialogNewData(type)" class="flex-order-0 sm:flex-order-1"
                    icon="bi bi-plus-lg" label="Adicionar novo">
                </p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                @for (col of columns; track $index) {
                <th>{{ col.header }}</th>
                }
                <th>
                    Açoẽs
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-item let-columns="columns" let-rowIndex="rowIndex">
            <tr>
                @for(col of columns; track col){
                <td>

                    @if (col.field === 'montanteMinimo' || col.field === 'montanteMaximo') {
                    {{item[col.field] |currency}}
                    }
                    @else if (col.field === 'grupoAtividade') {
                    {{item[col.field].codigo}}
                    }@else{
                    {{item[col.field]}}
                    }
                </td>
                }
                <td>
                    <p-button icon="pi pi-pencil" class="mr-2" severity="info" [rounded]="true" [outlined]="true"
                        (click)="openDialogEditData(item, rowIndex)" />
                    <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                        (click)="deleteData(item.id)" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-toast position="bottom-right" />
<p-confirmdialog />

@if (showDialog) {
<p-dialog #dg header="{{isNew?'New':'Edit'}} {{type.replace('-',' ')|titlecase}}" [modal]="true" [position]="'top'"
    [(visible)]="showDialog" [style]="{ 'min-width': '30rem' }" [closeOnEscape]="false" [closable]="false">
    <form [formGroup]="dataForm">
        <div class="grid grid-cols-12 gap-4">
            @switch (type) {
            @case ('direcoes') {
            <div class="mb-2 col-span-12">
                <label for="nome" class="font-medium  mb-2 block">
                    Categoria (Comercial/Industrial)
                </label>
                <p-select [appendTo]="'body'" formControlName="nome" inputId="nome" [options]="categoryOpts"
                    optionLabel="name" optionValue="value" fluid [showClear]="true" placeholder="Selecione a direção">
                </p-select>
            </div>
            }
            @case ('roles') {
            <div class="mb-2 col-span-12">
                <label for="name" class="font-medium  mb-2 block">
                    Nome
                </label>
                <p-select [appendTo]="'body'" formControlName="name" inputId="name" [options]="rolesOpts"
                    optionLabel="name" optionValue="value" fluid [showClear]="true" placeholder="Selecione a função">
                </p-select>
            </div>
            }
            @case ('grupo-atividades') {
            <div class="mb-2 col-span-12">
                <label for="tipo" class="font-medium  mb-2 block">
                    Categoria (Comercial/Industrial)
                </label>
                <p-select [appendTo]="'body'" formControlName="tipo" inputId="tipo" [options]="categoryOpts"
                    optionLabel="name" optionValue="value" fluid [showClear]="true"
                    placeholder="Selecione o Tipo Economico">
                </p-select>
            </div>
            <div class="mb-6 col-span-12">
                <label for="codigo" class="font-medium  mb-2 block">
                    Código
                </label>
                <input formControlName="codigo" id="codigo" type="text" pInputText fluid />
            </div>
            <div class="mb-6 col-span-12">
                <label for="descricao" class="font-medium  mb-2 block">
                    Descrição
                </label>
                <input formControlName="descricao" id="descricao" type="text" pInputText fluid />
            </div>
            <div class="col-span-12">
                <label for="tipoRisco" class="font-medium  mb-2 block">
                    Risco
                </label>
                <p-select [appendTo]="'body'" formControlName="tipoRisco" inputId="tipoRisco" [options]="nivelRiscoOpts"
                    optionLabel="name" optionValue="value" fluid [showClear]="true"
                    placeholder="Selecione o Nivel Risco">
                </p-select>
            </div>
            }
            @case ('classe-atividades') {
            <div class="mb-2 col-span-12">
                <label for="tipo" class="font-medium  mb-2 block">
                    Categoria (Comercial/Industrial)
                </label>
                <p-select [appendTo]="'body'" formControlName="tipo" inputId="tipo" [options]="categoryOpts"
                    optionLabel="name" optionValue="value" fluid [showClear]="true"
                    placeholder="Selecione o Tipo Economico">
                </p-select>
            </div>
            <div class="mb-2 col-span-12">
                <label for="grupoAtividade" class="font-medium  mb-2 block">
                    Grupo Atividade
                </label>
                <p-select [appendTo]="'body'" formControlName="grupoAtividade" inputId="grupoAtividade"
                    [options]="grupoAtivadadeOpts" fluid [showClear]="true" placeholder="Selecione o grupo atividade">
                    <ng-template #selectedItem let-selectedOption>
                        <span>{{selectedOption.codigo}} - {{selectedOption.descricao}}</span>
                    </ng-template>
                    <ng-template let-item #item>
                        <span>{{item.codigo}} - {{item.descricao}}</span>
                    </ng-template>
                </p-select>
            </div>
            <div class="mb-6 col-span-12">
                <label for="codigo" class="font-medium  mb-2 block">
                    Código
                </label>
                <input formControlName="codigo" id="codigo" type="text" pInputText fluid />
            </div>
            <div class="mb-6 col-span-12">
                <label for="descricao" class="font-medium  mb-2 block">
                    Descrição
                </label>
                <input formControlName="descricao" id="descricao" type="text" pInputText fluid />
            </div>
            <div class="col-span-12">
                <label for="tipoRisco" class="font-medium  mb-2 block">
                    Risco
                </label>
                <p-select [appendTo]="'body'" formControlName="tipoRisco" inputId="tipoRisco" [options]="nivelRiscoOpts"
                    optionLabel="name" optionValue="value" fluid [showClear]="true"
                    placeholder="Selecione o Nivel Risco">
                </p-select>
            </div>
            }
            @case ('taxas') {
            <div class="mb-2 col-span-12">
                <label for="categoria" class="font-medium  mb-2 block">
                    Categoria (Comercial/Industrial)
                </label>
                <p-select [appendTo]="'body'" formControlName="categoria" inputId="categoria" [options]="categoryOpts"
                    optionLabel="name" optionValue="value" fluid [showClear]="true" placeholder="Selecione a Categoria">
                </p-select>
            </div>
            <div class="mb-2 col-span-12">
                <label for="tipo" class="font-medium  mb-2 block">
                    Tipo (Cadastro/Atividade)
                </label>
                <p-select [appendTo]="'body'" formControlName="tipo" inputId="tipo" [options]="aplicanteOpts"
                    optionLabel="name" optionValue="value" fluid [showClear]="true" placeholder="Selecione o Tipo">
                </p-select>
            </div>
            <div class="mb-6 col-span-12">
                <label for="ato" class="font-medium  mb-2 block">
                    Ato
                </label>
                <input formControlName="ato" id="ato" type="text" pInputText fluid />
            </div>
            <div class="mb-6 col-span-12 md:col-span-6">
                <label for="montanteMinimo" class="font-medium  mb-2 block">
                    Montante Mínimo
                </label>
                <input formControlName="montanteMinimo" id="montanteMinimo" type="number" pInputText fluid />
            </div>
            <div class="mb-6 col-span-12 md:col-span-6">
                <label for="montanteMaximo" class="font-medium  mb-2 block">
                    Montante Máximo
                </label>
                <input formControlName="montanteMaximo" id="montanteMaximo" type="number" pInputText fluid />
            </div>
            }
            @case ('sociedade-comercial'){
            <div class="mb-6 col-span-12">
                <label for="nome" class="font-medium  mb-2 block">
                    Nome
                </label>
                <input formControlName="nome" id="nome" type="text" pInputText fluid />
            </div>
            <div class="mb-6 col-span-12">
                <label for="acronimo" class="font-medium  mb-2 block">
                    Acrónimo
                </label>
                <input formControlName="acronimo" id="acronimo" type="text" pInputText fluid />
            </div>
            }
            }

            <div class="mb-6 col-span-12">
                <p-button class="mr-4" icon="pi pi-times" label="Cancelar" variant="outlined" severity="danger"
                    (click)="closeDialog()" />
                @if (isNew) {
                <p-button icon="pi pi-save" [loading]="loading" [disabled]="!dataForm.valid" pButton pRipple
                    (click)="saveData(dataForm)" label="Guardar" class="w-auto mt-3"></p-button>
                }@else {
                <p-button icon="pi pi-sync" [loading]="loading" [disabled]="!dataForm.valid" pButton pRipple
                    (click)="updateData(dataForm)" label="Atualizar" class="w-auto mt-3"></p-button>
                }
            </div>

        </div>
    </form>
</p-dialog>
}