.p-datatable-tfoot>tr>td {
    text-align: center;
}

.text-value {
    font-size: 12px;
    font-weight: bold;
}

.with-image {
    display: inline-flex;
    flex-direction: column;
    /* stack vertically */
    align-items: center;
}

.stamp {
    margin-top: -35px;
    margin-bottom: -30px;
    /* adjust spacing */
}