<div class="card">
    <div class="grid grid-cols-12 mb-4">
        <div class="col-span-6">
            <span class="text-2xl font-bold mr-4">fatura de Inscrição</span>
            <p-button icon="pi pi-file-pdf" size="large" [raised]="true" printSectionId="myDiv" [useExistingCss]="true"
                ngxPrint />
        </div>
        <div class="col-span-6 flex justify-end mb-4">
            <p-button (click)="goBack()" icon="pi pi-chevron-circle-left" label="Voltar" severity="help" size="large"
                [text]="true" [rounded]="true" [raised]="true" />
        </div>
    </div>
    <div id="myDiv" class="bg-white text-black px-4 pt-2">
        <!-- Logo -->
        <div class="flex justify-center mb-1">
            <img src="images/rdtl.png" alt="Logo" width="80px" height="80px" class="object-contain" />
        </div>

        <!-- Header -->
        @if (aplicanteData.categoria === 'INDUSTRIAL') {
        <div class="text-center mb-6">
            <h1 class="font-semibold uppercase text-title">Ministério do Comércio e Indústria</h1>
            <h2 class="font-medium text-title">Direção-Geral da Indústria</h2>
            <h3 class="font-bold text-title mt-2">
                RECIBO DE PAGAMENTO DE TAXA NO ÂMBITO DO LICENCIAMENTO INDUSTRIAL E CADASTRO
            </h3>
        </div>
        }@else {
        <div class="text-center mb-6">
            <h1 class="font-semibold text-title uppercase">Ministério do Comércio e Indústria</h1>
            <h2 class="font-medium text-title">Direção-Geral da Comércio</h2>
            <h3 class="font-bold text-title mt-2">
                RECIBO DE PAGAMENTO DE TAXA NO ÂMBITO DO LICENCIAMENTO COMERCIAL E CADASTRO
            </h3>
        </div>
        }

        <div class="mb-6 mt-6">
            <div class="mb-2 flex gap-2">
                <span class="w-1/4 text-label text-gray-600">Nome do Requerente:</span>
                <span class="flex-1 text-value text-black">{{fatura.nomeEmpresa}}</span>
            </div>

            <div class="mb-2 flex gap-2">
                <span class="w-1/4 text-label text-gray-600">N.º de Registo Comercial:</span>
                <span class="w-1/3 text-value text-black">{{aplicanteData.empresa.numeroRegistoComercial}}</span>
            </div>

            <div class="mb-2 flex gap-2">
                <span class="w-1/4 text-label text-gray-600">NIF:</span>
                <span class="w-1/3 text-value text-black">{{fatura.nif}}</span>
            </div>

            <div class="mb-2 flex gap-2">
                <span class="w-1/4 text-label text-gray-600">Sede:</span>
                <span class="flex-1 text-value text-black">
                    {{fatura.sede}}
                </span>
            </div>

            <div class="mb-2 flex gap-2">
                <span class="w-1/4 text-label text-gray-600">Nível de Risco:</span>
                <span class="flex-1 text-value text-black">
                    {{fatura.nivelRisco}}
                </span>
            </div>

            <div class="mb-2 flex gap-2">
                <span class="w-1/4 text-label text-gray-600">Atividade comercial declarada:</span>
                <span class="flex-1 text-value text-black">
                    {{aplicanteData.pedidoInscricaoCadastro.classeAtividade.descricao}}
                </span>

                <span class="w-1/4 text-label text-gray-600">Código:</span>
                <span class="flex-1 text-value text-black">
                    {{aplicanteData.pedidoInscricaoCadastro.classeAtividade.codigo}}
                </span>
            </div>

            <div class="mb-2 flex gap-2">
                <span class="w-1/4 text-label text-gray-600">Superfície:</span>
                    <span class="flex-1 text-value text-black">
                        {{fatura.superficie}} &#13217;
                    </span>
            </div>

        </div>

        <div class="mb-4 border-t-4 border-double border-gray-400 pt-2">
            <div class="mb-2 flex gap-2">
                <span class="w-1/4 text-label text-gray-600">
                    Account
                </span>
                <span class="flex-1 text-value text-black">
                    02100226435157 () Government Acct
                </span>
            </div>
            <div class="mb-2 flex gap-2">
                <span class="w-1/4 text-label text-gray-600">
                    IBAN
                </span>
                <span class="flex-1 text-value text-black">
                    Tll80040210022643515702
                </span>
            </div>
            <div class="mb-2 flex gap-2">
                <span class="w-1/4 text-label text-gray-600">
                    Customer
                </span>
                <span class="flex-1 text-value text-black">
                    426958 (KONTA RESEITAT TAXA LISENCA KOMERCIO INDUSTRIA-MCI)
                </span>
            </div>
            <div class="mb-2 flex gap-2">
                <span class="w-1/4 text-label text-gray-600">
                    Company Name
                </span>
                <span class="flex-1 text-value text-black">
                    02 SUKURSAL DILI
                </span>
            </div>
            <div class="mb-2 flex gap-2">
                <span class="w-1/4 text-label text-gray-600">
                    District
                </span>
                <span class="flex-1 text-value text-black">
                    Dili, Vera Cruz, Motael
                </span>
            </div>
            <div class="mb-2 flex gap-2">
                <span class="w-1/3 text-label text-gray-600">
                    BALANCE AT PERIOD START
                </span>
                <span class="flex-1 text-value text-black">
                    $0.00
                </span>
            </div>
        </div>

        <div class="mb-6 border-t-4 border-double border-gray-400 pt-2">
            <div class="mb-2 flex gap-2">
                <span class="w-1/4 text-label text-gray-600">
                    Account
                </span>
                <span class="flex-1 text-value text-black">
                    02100226435141 () Government Acct
                </span>
            </div>
            <div class="mb-2 flex gap-2">
                <span class="w-1/4 text-label text-gray-600">
                    IBAN
                </span>
                <span class="flex-1 text-value text-black">
                    TL380040210022643514150
                </span>
            </div>
            <div class="mb-2 flex gap-2">
                <span class="w-1/4 text-label text-gray-600">
                    Customer
                </span>
                <span class="flex-1 text-value text-black">
                    4227015 (KONTA RESEITA TAXA INDUSTRIA-MC)
                </span>
            </div>
            <div class="mb-2 flex gap-2">
                <span class="w-1/4 text-label text-gray-600">
                    Company Name
                </span>
                <span class="flex-1 text-value text-black">
                    02 SUKURSAL DILI
                </span>
            </div>
            <div class="mb-2 flex gap-2">
                <span class="w-1/4 text-label text-gray-600">
                    District
                </span>
                <span class="flex-1 text-value text-black">
                    Dili, Vera Cruz, Motael
                </span>
            </div>
            <div class="mb-2 flex gap-2">
                <span class="w-1/3 text-label text-gray-600">
                    BALANCE AT PERIOD START
                </span>
                <span class="flex-1 text-value text-black">
                    $0.00
                </span>
            </div>
        </div>

        <div class="mb-6">
            <p-table [value]="fatura.taxas">
                <ng-template #header>
                    <tr>
                        <th>Nº</th>
                        <th>Ato</th>
                        <th>Montante</th>
                    </tr>
                </ng-template>
                <ng-template #body let-taxa let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            {{rowIndex + 1}}
                        </td>
                        <td>{{ taxa.ato }}</td>
                        <td>
                            {{ getMontanteSubTotal(taxa.montanteMinimo, taxa.montanteMaximo) | currency}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr>
                        <td colspan="2" class="font-bold text-center">
                            Total
                        </td>
                        <td class="font-bold">
                            {{ fatura.total |currency }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!-- Footer -->
        <div class="my-8 flex flex-col items-center gap-4">
            <div>
                <span class="text-label text-gray-600">Servico que emite:__________________________</span> &nbsp;
                <span class="text-label text-gray-600">Data:</span>
                <span class="w-12 inline-block border-b border-gray-300 text-center text-value text-black">
                    {{aplicanteData.updatedAt | date:'dd'}}
                </span>
                <span>de</span>
                <span class="w-24 inline-block border-b border-gray-300 text-center text-value text-black">
                    {{aplicanteData.updatedAt | date:'MMM'}}
                </span>
                <span>de</span>
                <span class="w-20 inline-block border-b border-gray-300 text-center text-value text-black">
                    {{aplicanteData.updatedAt | date:'yyyy'}}
                </span>
            </div>
            <span class="text-label text-gray-600">O funcionário</span>
            <span class="with-image">
                <img src="images/stamp.png" alt="Stamp" class="stamp" width="110" height="110" />
                <span class="text-label text-gray-600">Donald Trump</span>
            </span>
            <div class="flex-1"></div>
            <span class="w-72 inline-block border-b border-black text-center text-value text-black"></span>
        </div>
    </div>
</div>