<div #form class="card">
    <span class="text-surface-900 dark:text-surface-0 text-2xl font-bold mb-6 block">
        Candidatura para o Pedido de Licenca para Exercicio de Atividade {{aplicanteData.categoria | titlecase}}
    </span>

    <p-stepper [value]="1" class="basis-[50rem]" [linear]="true">
        <p-step-list>
            <p-step [value]="1">Detalho da Aplicação</p-step>
            @if (isSubmitted(aplicanteData)) {
            <p-step [value]="2">Pedido de Licenca</p-step>
            <p-step [value]="3">Fatura-Recibo Pedido de Licenca</p-step>
            <p-step [value]="4">Pedido de Vistoria</p-step>
            <p-step [value]="5">Fatura-Recibo Pedido de Vistoria</p-step>
            }
        </p-step-list>
        <p-step-panels>
            <!-- Detalho Aplicacao -->
            <p-step-panel [value]="1">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="px-8 font-sans">
                        <div class="grid grid-cols-4 md:grid-cols-5 gap-6 mb-8">
                            <div class="col-span-4 md:col-span-3 bg-[#26262B] p-6 rounded-lg">
                                <h2 class="text-xl font-semibold text-white mb-4">Detalhes do Aplicante</h2>
                                <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-6 gap-y-4 text-gray-300">
                                    <div>
                                        <p class="font-medium text-gray-400">Nº do Aplicante:</p>
                                        <p class="text-lg">
                                            {{aplicanteData.numero}}
                                        </p>
                                    </div>
                                    <div>
                                        <p class="font-medium text-gray-400">Estado:</p>
                                        <p-tag [value]="aplicanteEstado" [severity]="aplicanteEstado| statusSeverity" />
                                    </div>
                                    <div>
                                        <p class="font-medium text-gray-400">
                                            Criado Em:
                                        </p>
                                        <p>
                                            {{aplicanteData.createdAt | date:'dd MMMM yyyy, HH:mm:ss':'':'pt'}}
                                        </p>
                                    </div>
                                    <div>
                                        <p class="font-medium text-gray-400">Atualizado Em:</p>
                                        <p>
                                            {{aplicanteData.updatedAt | date:'dd MMMM yyyy, HH:mm:ss':'':'pt'}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="col-span-4 md:col-span-2 bg-[#26262B] p-6 rounded-lg flex flex-col justify-center">
                                <h2 class="text-xl font-semibold text-white mb-4">Informação da Empresa</h2>
                                <div class="space-y-2 text-gray-300">
                                    <p>
                                        <span class="font-medium text-gray-400">Nome:</span>
                                        {{aplicanteData.empresa.nome}}
                                    </p>
                                    <p>
                                        <span class="font-medium text-gray-400">NIF:</span>
                                        {{aplicanteData.empresa.nif}}
                                    </p>
                                    <p>
                                        <span class="font-medium text-gray-400">Telefone/Telemovel:</span>
                                        {{aplicanteData.empresa.telefone}} / {{aplicanteData.empresa.telemovel}}
                                    </p>
                                    <p>
                                        <span class="font-medium text-gray-400">Sede:</span>
                                        {{aplicanteData.empresa.sede.local}} -
                                        {{aplicanteData.empresa.sede.aldeia.nome}},
                                        {{aplicanteData.empresa.sede.aldeia.suco.nome}},
                                        {{aplicanteData.empresa.sede.aldeia.suco.postoAdministrativo.nome}},
                                        {{aplicanteData.empresa.sede.aldeia.suco.postoAdministrativo.municipio.nome}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        @if(aplicanteEstado == 'REJEITADO') {
                        <div class="bg-[#26262B] p-6 rounded-lg mb-8 reason-for-rejection" id="rejectionSection">
                            <h2 class="text-xl font-semibold text-white mb-4">
                                Motivo de Rejeição
                            </h2>
                            <div class="bg-[#3A3A41] p-4 rounded-lg">
                                <p class="text-gray-300">
                                    {{motivoRejeicao}}
                                </p>
                            </div>
                        </div>
                        }

                        <div class="bg-[#26262B] p-6 rounded-lg mb-8">
                            <h2 class="text-xl font-semibold text-white mb-6">
                                Etapas do Aplicante
                            </h2>
                            <div class="space-y-6">
                                <div class="bg-[#3A3A41] rounded-lg">
                                    <div
                                        class="flex flex-col sm:flex-row items-start sm:items-center justify-between p-4">
                                        <div class="flex items-center mb-4 sm:mb-0">
                                            <div
                                                class="flex items-center justify-center h-12 w-12 rounded-full bg-blue-500 text-white mr-4">
                                                <i class="bi bi-file-text text-2xl"></i>
                                            </div>
                                            <div>
                                                <h3 class="text-lg font-semibold text-white">
                                                    Formulário do Pedido de Licença para Exercício de Atividade
                                                    {{aplicanteData.categoria |titlecase}}
                                                </h3>
                                                <p class="text-sm text-gray-400">
                                                    Detalhes do Pedido de Licença para Exercício de Atividade
                                                    {{aplicanteData.categoria |titlecase}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="flex items-center space-x-4">
                                            @if (aplicanteData.pedidoLicencaAtividade) {
                                            <p-tag [value]="aplicanteData.pedidoLicencaAtividade.status"
                                                [severity]="aplicanteData.pedidoLicencaAtividade.status| statusSeverity" />
                                            <p-button [routerLink]="['pedido-licenca']" icon="pi pi-eye"
                                                label="Pré-visualização" [raised]="true" severity="info" />
                                            }
                                            @else {
                                            <p-tag value="Em curso" [severity]="'info'" icon="pi pi-clock" />
                                            }
                                        </div>
                                    </div>
                                    <div class="border-t border-gray-600 mx-4"></div>
                                    <div
                                        class="flex flex-col sm:flex-row items-start sm:items-center justify-between p-4">
                                        <div class="flex items-center mb-4 sm:mb-0">
                                            <div
                                                class="flex items-center justify-center h-12 w-12 rounded-full bg-green-500 text-white mr-4">
                                                <i class="bi bi-credit-card text-2xl"></i>
                                            </div>
                                            <div>
                                                <h3 class="text-lg font-semibold text-white">
                                                    Fatura 1
                                                </h3>
                                                <p class="text-sm text-gray-400">Informação da Fatura do Pedido de
                                                    Licença
                                                    para Exercício de Atividade</p>
                                            </div>
                                        </div>
                                        <div class="flex items-center space-x-4">
                                            @if (aplicanteData.pedidoLicencaAtividade &&
                                            aplicanteData.pedidoLicencaAtividade.fatura) {
                                            <p-tag [value]="aplicanteData.pedidoLicencaAtividade.fatura.status"
                                                [severity]="aplicanteData.pedidoLicencaAtividade.fatura.status| statusSeverity" />
                                            <p-button [routerLink]="['fatura-atividade']" icon="pi pi-eye"
                                                label="Pré-visualização" [raised]="true" severity="info" />
                                            }@else {
                                            <p-tag value="Não Emitida" [severity]="'secondary'" icon="pi pi-ban" />
                                            }

                                        </div>
                                    </div>
                                    <div class="border-t border-gray-600 mx-4"></div>
                                    <div
                                        class="flex flex-col sm:flex-row items-start sm:items-center justify-between p-4 bg-[#3A3A41] rounded-lg">
                                        <div class="flex items-center mb-4 sm:mb-0">
                                            <div
                                                class="flex items-center justify-center h-12 w-12 rounded-full bg-zinc-500 text-white mr-4">
                                                <i class="bi bi-receipt text-2xl"></i>
                                            </div>
                                            <div>
                                                <h3 class="text-lg font-semibold text-white">
                                                    Recibo
                                                </h3>
                                                <p class="text-sm text-gray-400">
                                                    Informação do Recibo da Fatura do Pedido de Licença
                                                    para Exercício de Atividade
                                                </p>
                                            </div>
                                        </div>
                                        <div class="flex items-center space-x-4">
                                            @if (aplicanteData.pedidoLicencaAtividade
                                            && aplicanteData.pedidoLicencaAtividade.fatura
                                            && aplicanteData.pedidoLicencaAtividade.fatura.recibo
                                            ){
                                            <p-tag [value]="'SUBMETIDO'" [severity]="'success'" />
                                            <p-button
                                                (click)="downloadFile(aplicanteData.pedidoLicencaAtividade.fatura.recibo)"
                                                icon="pi pi-download" label="Decarregar Recibo" [raised]="true"
                                                [loading]="downloadLoading" severity="info" />
                                            }@else {
                                            <p-tag value="Não Submetida" [severity]="'secondary'" icon="pi pi-ban" />
                                            }

                                        </div>
                                    </div>
                                </div>

                                <div class="bg-[#3A3A41] rounded-lg">
                                    <div
                                        class="flex flex-col sm:flex-row items-start sm:items-center justify-between p-4 bg-[#3A3A41] rounded-lg">
                                        <div class="flex items-center mb-4 sm:mb-0">
                                            <div
                                                class="flex items-center justify-center h-12 w-12 rounded-full bg-amber-500 text-white mr-4">
                                                <i class="bi bi-file-text text-2xl"></i>
                                            </div>
                                            <div>
                                                <h3 class="text-lg font-semibold text-white">
                                                    Formulário do Pedido de Vistoria para Licença de Exercício de
                                                    Atividade
                                                    {{aplicanteData.categoria |titlecase}}
                                                </h3>
                                                <p class="text-sm text-gray-400">
                                                    Detalhes do Pedido de Vistoria
                                                    {{aplicanteData.categoria |titlecase}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="flex items-center space-x-4">
                                            @if (pedidoVistoria) {
                                            <p-tag [value]="pedidoVistoria.status"
                                                [severity]="pedidoVistoria.status| statusSeverity" />
                                            <p-button [routerLink]="['pedido-vistoria']" icon="pi pi-eye"
                                                label="Pré-visualização" [raised]="true" severity="info" />
                                            }
                                            @else {
                                            <p-tag value="Em curso" [severity]="'info'" icon="pi pi-clock" />
                                            }

                                        </div>
                                    </div>
                                    <div class="border-t border-gray-600 mx-4"></div>
                                    <div
                                        class="flex flex-col sm:flex-row items-start sm:items-center justify-between p-4 bg-[#3A3A41] rounded-lg">
                                        <div class="flex items-center mb-4 sm:mb-0">
                                            <div
                                                class="flex items-center justify-center h-12 w-12 rounded-full bg-green-500 text-white mr-4">
                                                <i class="bi bi-credit-card text-2xl"></i>
                                            </div>
                                            <div>
                                                <h3 class="text-lg font-semibold text-white">
                                                    Fatura
                                                </h3>
                                                <p class="text-sm text-gray-400">Informação da Fatura do Pedido de
                                                    Vistoria
                                                    para Licença de Exercício de Atividade
                                                    {{aplicanteData.categoria |titlecase}}</p>
                                            </div>
                                        </div>
                                        <div class="flex items-center space-x-4">
                                            @if (pedidoVistoria &&
                                            pedidoVistoria.fatura) {
                                            <p-tag [value]="pedidoVistoria.fatura.status"
                                                [severity]="pedidoVistoria.fatura.status| statusSeverity" />
                                            <p-button [routerLink]="['fatura-vistoria']" icon="pi pi-eye"
                                                label="Pré-visualização" [raised]="true" severity="info" />
                                            }@else {
                                            <p-tag value="Não Emitida" [severity]="'secondary'" icon="pi pi-ban" />
                                            }

                                        </div>
                                    </div>
                                    <div class="border-t border-gray-600 mx-4"></div>
                                    <div
                                        class="flex flex-col sm:flex-row items-start sm:items-center justify-between p-4 bg-[#3A3A41] rounded-lg">
                                        <div class="flex items-center mb-4 sm:mb-0">
                                            <div
                                                class="flex items-center justify-center h-12 w-12 rounded-full bg-zinc-500 text-white mr-4">
                                                <i class="bi bi-receipt text-2xl"></i>
                                            </div>
                                            <div>
                                                <h3 class="text-lg font-semibold text-white">
                                                    Recibo
                                                </h3>
                                                <p class="text-sm text-gray-400">
                                                    Informação do Recibo da Fatura do Pedido de Vistoria
                                                    para Licença de Exercício de Atividade
                                                    {{aplicanteData.categoria |titlecase}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="flex items-center space-x-4">
                                            @if (pedidoVistoria
                                            && pedidoVistoria.fatura
                                            && pedidoVistoria.fatura.recibo
                                            ){
                                            <p-tag [value]="'SUBMETIDO'" [severity]="'success'" />
                                            <p-button (click)="downloadFile(pedidoVistoria.fatura.recibo)"
                                                icon="pi pi-download" label="Decarregar Recibo" [raised]="true"
                                                [loading]="downloadLoading" severity="info" />
                                            }@else {
                                            <p-tag value="Não Submetida" [severity]="'secondary'" icon="pi pi-ban" />
                                            }

                                        </div>
                                    </div>
                                </div>

                                <div
                                    class="flex flex-col sm:flex-row items-start sm:items-center justify-between p-4 bg-[#3A3A41] rounded-lg">
                                    <div class="flex items-center mb-4 sm:mb-0">
                                        <div
                                            class="flex items-center justify-center h-12 w-12 rounded-full bg-cyan-500 text-white mr-4">
                                            <i class="bi bi-list-check text-2xl"></i>
                                        </div>
                                        <div>
                                            <h3 class="text-lg font-semibold text-white">
                                                Formulário de Auto Vistoria
                                                {{aplicanteData.categoria |titlecase}}
                                            </h3>
                                            <p class="text-sm text-gray-400">
                                                Detalhes do Auto Vistoria
                                                {{aplicanteData.categoria |titlecase}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="flex items-center space-x-4">
                                        <!-- Will be fix -->
                                        @if (autoVistoria)
                                        {
                                        <p-tag [value]="'SUBMETIDO'" [severity]="'SUBMETIDO'" />
                                        <p-button [routerLink]="['auto-vistoria']" icon="pi pi-eye"
                                            label="Pré-visualização" [raised]="true" severity="info" />
                                        }
                                        @else {
                                        <p-tag value="Em curso" [severity]="'info'" icon="pi pi-clock" />
                                        }

                                    </div>
                                </div>
                                <div
                                    class="flex flex-col sm:flex-row items-start sm:items-center justify-between p-4 bg-[#3A3A41] rounded-lg">
                                    <div class="flex items-center mb-4 sm:mb-0">
                                        <div
                                            class="flex items-center justify-center h-12 w-12 rounded-full bg-orange-500 text-white mr-4">
                                            <i class="bi bi-person-check text-2xl"></i>
                                        </div>
                                        <div>
                                            <h3 class="text-lg font-semibold text-white">
                                                Revisto pelo Chefe de Departamento
                                            </h3>
                                            <p class="text-sm text-gray-400">
                                                Detalhes do Auto Vistoria
                                                {{aplicanteData.categoria |titlecase}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="flex items-center space-x-4">
                                        @if (aplicanteData.estado === 'REVISTO' || aplicanteData.estado === 'APROVADO')
                                        {
                                        <p-tag [value]="'REVISTO'" [severity]="'SUBMETIDO'" />
                                        }
                                        @else {
                                        <p-tag value="Em curso" [severity]="'info'" icon="pi pi-clock" />
                                        }
                                    </div>
                                </div>
                                <div
                                    class="flex flex-col sm:flex-row items-start sm:items-center justify-between p-4 bg-[#3A3A41] rounded-lg">
                                    <div class="flex items-center mb-4 sm:mb-0">
                                        <div
                                            class="flex items-center justify-center h-12 w-12 rounded-full bg-purple-500 text-white mr-4">
                                            <i class="bi bi-award text-2xl"></i>
                                        </div>
                                        <div>
                                            <h3 class="text-lg font-semibold text-white">Certificado</h3>
                                            <p class="text-sm text-gray-400">Alvará de Licença para Exercício da
                                                Atividade
                                                {{aplicanteData.categoria |titlecase}}.</p>
                                        </div>
                                    </div>
                                    <div class="flex items-center space-x-4">
                                        @if (aplicanteData.pedidoLicencaAtividade &&
                                        aplicanteData.pedidoLicencaAtividade.certificadoLicencaAtividade) {
                                        <p-tag [value]="'EMITIDO'" [severity]="'success'" />
                                        <p-button
                                            [routerLink]="['certificado-atividade/' + aplicanteData.pedidoLicencaAtividade.certificadoLicencaAtividade.id]"
                                            icon="pi pi-eye" label="Pré-visualização" [raised]="true" severity="info" />
                                        }@else {
                                        <p-tag value="Nao Emitido" [severity]="'warn'" icon="pi pi-times" />
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="flex pt-6 justify-end">
                        @if (isSubmitted(aplicanteData)) {
                        <p-button label="Continuar" icon="pi pi-arrow-right" iconPos="right"
                            (onClick)="activateCallback(2)" />
                        }
                    </div>
                </ng-template>
            </p-step-panel>

            <!-- Pedido de Licenca -->
            <p-step-panel [value]="2">
                <ng-template #content let-activateCallback="activateCallback">
                    <app-pedido-atividade-form [aplicanteData]="aplicanteData" [listaAldeia]="listaAldeia"
                        [listaGrupoAtividade]="listaGrupoAtividade" (dataSent)="onPedidoLicencaReceived($event)"
                        [disabledForm]="disabledPedidoLicencaAndFatura">
                    </app-pedido-atividade-form>
                    <div class="flex pt-6 justify-between">
                        <p-button label="Back" severity="secondary" icon="pi pi-arrow-left"
                            (click)="activateCallback(1)" />
                        <p-button [disabled]="disabledPedidoLicencaNextBtn" label="Próximo" severity="secondary"
                            icon="pi pi-arrow-right" iconPos="right" (click)="activateCallback(3)" />
                    </div>
                </ng-template>
            </p-step-panel>

            <!-- Fatura Pedido de Licenca -->
            <p-step-panel [value]="3">
                <ng-template #content let-activateCallback="activateCallback">
                    <app-fatura-atividade-form [aplicanteData]="aplicanteData" [listaPedidoAto]="listaPedidoAto"
                        (dataSent)="onFaturaPedidoReceived($event)" [disabledForm]="disabledPedidoLicencaAndFatura">
                    </app-fatura-atividade-form>
                    <div class="flex pt-6 justify-between">
                        <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" iconPos="right"
                            (onClick)="activateCallback(2)" />
                        <p-button [disabled]="disabledFaturaLicencaNextBtn" label="Próximo" severity="secondary"
                            icon="pi pi-arrow-right" iconPos="right" (click)="activateCallback(4)" />
                    </div>
                </ng-template>
            </p-step-panel>

            <!-- Pedido de Vistoria -->
            <p-step-panel [value]="4">
                <ng-template #content let-activateCallback="activateCallback">
                    <app-pedido-vistoria-form [aplicanteData]="aplicanteData" [listaAldeia]="listaAldeia"
                        [listaGrupoAtividade]="listaGrupoAtividade" (dataSent)="onPedidoVistoriaReceived($event)">
                    </app-pedido-vistoria-form>
                    <div class="flex pt-6 justify-between">
                        <p-button label="Back" severity="secondary" icon="pi pi-arrow-left"
                            (onClick)="activateCallback(3)" />
                        <p-button [disabled]="disabledPedidoVistoriaNextBtn" label="Próximo" severity="secondary"
                            icon="pi pi-arrow-right" iconPos="right" (click)="activateCallback(5)" />
                    </div>
                </ng-template>
            </p-step-panel>

            <!-- Fatura Pedido de Licenca -->
            <p-step-panel [value]="5">
                <ng-template #content let-activateCallback="activateCallback">
                    <app-fatura-vistoria-form [aplicanteData]="aplicanteData" [listaPedidoAto]="listaPedidoAto"
                        (dataSent)="onPedidoVistoriaFaturaReceived($event)">
                    </app-fatura-vistoria-form>
                    <div class="flex pt-6 justify-between">
                        <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" iconPos="right"
                            (onClick)="activateCallback(4)" />
                        @if (isClient && aplicanteData.estado !== 'SUBMETIDO') {
                        <p-button (click)="submitAplicante(activateCallback)" [loading]="loading" label="Submeter"
                            [disabled]="disabledFaturaVistoriaNextBtn" icon="pi pi-save" iconPos="left" />
                        }
                        @if (isManager || isStaff) {
                        <p-button label="Próximo" severity="secondary" [disabled]="aplicanteData.estado !== 'SUBMETIDO'"
                            icon="pi pi-arrow-right" iconPos="right" (click)="activateCallback(6)" />
                        }

                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-panels>
    </p-stepper>
</div>