<div class="card">
    <p-table #dt [value]="dataList" responsiveLayout="scroll"
        [globalFilterFields]="['firstName', 'role.name', 'email', 'status']">
        <ng-template #caption>
            <div class="flex flex-wrap gap-2 items-center justify-between">
                <p-icon-field class="w-full sm:w-80 order-1 sm:order-none">
                    <p-inputicon class="pi pi-search" />
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Busca"
                        class="w-full" />
                </p-icon-field>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th class="white-space-nowrap">Nº Certificado
                </th>
                <th pSortableColumn="email" class="white-space-nowrap">
                    Empresa
                </th>
                <th class="white-space-nowrap">
                    Sede
                </th>
                <th class="white-space-nowrap">Validade
                </th>
                <th class="white-space-nowrap">
                    Estado
                <th class="white-space-nowrap">
                    Ações
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-cert>
            <tr>
                <td>
                    {{ cert.aplicanteNumero }}
                </td>
                <td>
                    {{cert.sociedadeComercial}}
                </td>
                <td>
                    {{cert.sedeLocal}} - {{cert.sedeAldeiaNome}}, {{cert.sedeSucoNome}}, {{cert.sedePostoNome}}, {{cert.sedeMunicipioNome}}
                </td>
                <td>
                    {{ cert.dataValidade | date: 'dd/MM/yyyy'}}
                </td>
                <td>
                    <p-tag value="{{getState(cert.dataValidade) | uppercase}}"
                        severity="{{getState(cert.dataValidade) | statusSeverity}}"
                        icon="{{getState(cert.dataValidade) | statusIcon}}" />
                </td>
                <td>
                    <a [routerLink]="[cert.id]" pTooltip="Detalho"
                        tooltipPosition="top">
                        <p-button icon="pi pi-eye" class="mr-2" severity="info" [rounded]="true" [outlined]="true" />
                    </a>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator (onPageChange)="onPageChange($event)" [rows]="size" [totalRecords]="totalData"
        [rowsPerPageOptions]="[50, 150, 250]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords}" />
</div>