@if (aplicanteData) {
<div class="card rounded-xl shadow-lg p-8">
    <div class="mb-8">
        <h1 class="text-3xl font-bold text-white mb-2">
            Resumo do Aplicante
        </h1>
        <p class="text-gray-400">
            Visão geral da candidatura para registo {{aplicanteData.categoria.toLocaleLowerCase()}}.
        </p>
    </div>
    <div class="grid grid-cols-4 md:grid-cols-5 gap-6 mb-8">
        <div class="col-span-4 md:col-span-3 bg-[#26262B] p-6 rounded-lg">
            <h2 class="text-xl font-semibold text-white mb-4">Detalhes do Aplicante</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-6 gap-y-4 text-gray-300">
                <div>
                    <p class="font-medium text-gray-400">Nº do Aplicante:</p>
                    <p class="text-lg">
                        {{aplicanteData.numero}}
                    </p>
                </div>
                <div>
                    <p class="font-medium text-gray-400">Estado:</p>
                    <p-tag [value]="aplicanteData.estado" [severity]="aplicanteData.estado| statusSeverity" />
                </div>
                <div>
                    <p class="font-medium text-gray-400">
                        Criado Em:
                    </p>
                    <p>
                        {{aplicanteData.createdAt | date:'dd MMMM yyyy, HH:mm:ss':'':'pt'}}
                    </p>
                </div>
                <div>
                    <p class="font-medium text-gray-400">Atualizado Em:</p>
                    <p>
                        {{aplicanteData.updatedAt | date:'dd MMMM yyyy, HH:mm:ss':'':'pt'}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-span-4 md:col-span-2 bg-[#26262B] p-6 rounded-lg flex flex-col justify-center">
            <h2 class="text-xl font-semibold text-white mb-4">Informação da Empresa</h2>
            <div class="space-y-2 text-gray-300">
                <p>
                    <span class="font-medium text-gray-400">Nome:</span>
                    {{aplicanteData.empresa.nome}}
                </p>
                <p>
                    <span class="font-medium text-gray-400">NIF:</span>
                    {{aplicanteData.empresa.nif}}
                </p>
                <p>
                    <span class="font-medium text-gray-400">Telefone/Telemovel:</span>
                    {{aplicanteData.empresa.telefone}} / {{aplicanteData.empresa.telemovel}}
                </p>
                <p>
                    <span class="font-medium text-gray-400">Sede:</span>
                    {{aplicanteData.empresa.sede.local}} - {{aplicanteData.empresa.sede.aldeia.nome}},
                    {{aplicanteData.empresa.sede.aldeia.suco.nome}},
                    {{aplicanteData.empresa.sede.aldeia.suco.postoAdministrativo.nome}},
                    {{aplicanteData.empresa.sede.aldeia.suco.postoAdministrativo.municipio.nome}}
                </p>
                <p>
                    <span class="font-medium text-gray-400">Coordenadas:</span>
                    <a [href]="'https://www.google.com/maps?q=' + aplicanteData.empresa.latitude + ',' + aplicanteData.empresa.longitude"
                        target="_blank" class="text-emerald-400 hover:text-emerald-300 hover:underline cursor-pointer">
                        {{aplicanteData.empresa.longitude}} / {{aplicanteData.empresa.latitude}}
                    </a>
                </p>
            </div>
        </div>
    </div>
    @if (showDispatchActions(aplicanteData)) {
    <div class="bg-[#26262B] p-6 rounded-lg mb-8">
        <h2 class="text-xl font-semibold text-white mb-4">
            Atribuir Aplicante
        </h2>

        <div class="mb-6">
            <label for="application" class="font-medium  mb-2 block">
                Funcionário(a)
            </label>
            <p-select [formControl]="selectedFuncionario" inputId="application" [options]="userList"
                [optionLabel]="'firstName'" optionValue="username" fluid [showClear]="true"
                placeholder="Selecione o Funcionário(a)">
                <ng-template #selectedItem let-selectedOption>
                    <div class="flex items-center gap-2">
                        {{selectedOption.firstName}} {{selectedOption.lastName}}
                    </div>
                </ng-template>
                <ng-template let-item #item>
                    <div class="flex items-center gap-2">
                        {{item.firstName}} {{item.lastName}}
                    </div>
                </ng-template>
            </p-select>
        </div>
        <div class="mb-6">
            <label for="notes" class="font-medium  mb-2 block">
                Notas
            </label>
            <textarea [formControl]="notes" inputId="notes" rows="5" cols="30" pTextarea fluid></textarea>
        </div>
        <p-button (click)="rejeitarRevisto($event)" icon="pi pi-times" label="Rejeitar" [raised]="true"
            severity="danger" />
        <p-button [disabled]="!selectedFuncionario.valid" (click)="atribuir()" icon="pi pi-check-circle"
            label="Atribuir" [raised]="true" severity="success" class="ml-2" />
    </div>

    }

    <div class="bg-[#26262B] p-6 rounded-lg mb-8">
        <h2 class="text-xl font-semibold text-white mb-6">
            Etapas do Aplicante
        </h2>
        @if (aplicanteData.tipo === 'CADASTRO') {
        <div class="space-y-6">
            <div
                class="flex flex-col sm:flex-row items-start sm:items-center justify-between p-4 bg-[#3A3A41] rounded-lg">
                <div class="flex items-center mb-4 sm:mb-0">
                    <div class="flex items-center justify-center h-12 w-12 rounded-full bg-blue-500 text-white mr-4">
                        <i class="bi bi-file-text text-2xl"></i>
                    </div>
                    <div>
                        <h3 class="text-lg font-semibold text-white">
                            Formulário do Pedido Inscrição do Cadastro
                        </h3>
                        <p class="text-sm text-gray-400">
                            Detalhes do Pedido Inscrição do Cadastro
                        </p>
                    </div>
                </div>
                <div class="flex items-center space-x-4">
                    <p-tag [value]="aplicanteData.pedidoInscricaoCadastro.status"
                        [severity]="aplicanteData.pedidoInscricaoCadastro.status| statusSeverity" />
                    <p-button routerLink="/gestor/application/{{aplicanteData.id}}/pedido-inscricao" icon="pi pi-eye"
                        label="Pré-visualização" [raised]="true" severity="info" />
                </div>
            </div>
            <div
                class="flex flex-col sm:flex-row items-start sm:items-center justify-between p-4 bg-[#3A3A41] rounded-lg">
                <div class="flex items-center mb-4 sm:mb-0">
                    <div class="flex items-center justify-center h-12 w-12 rounded-full bg-green-500 text-white mr-4">
                        <i class="bi bi-credit-card text-2xl"></i>
                    </div>
                    <div>
                        <h3 class="text-lg font-semibold text-white">
                            Fatura
                        </h3>
                        <p class="text-sm text-gray-400">Informação da Fatura</p>
                    </div>
                </div>
                <div class="flex items-center space-x-4">
                    <p-tag [value]="aplicanteData.pedidoInscricaoCadastro.fatura.status"
                        [severity]="aplicanteData.pedidoInscricaoCadastro.fatura.status| statusSeverity" />
                    <p-button routerLink="/gestor/application/{{aplicanteData.id}}/fatura-inscricao" icon="pi pi-eye"
                        label="Pré-visualização" [raised]="true" severity="info" />
                </div>
            </div>
            <div
                class="flex flex-col sm:flex-row items-start sm:items-center justify-between p-4 bg-[#3A3A41] rounded-lg">
                <div class="flex items-center mb-4 sm:mb-0">
                    <div class="flex items-center justify-center h-12 w-12 rounded-full bg-zinc-500 text-white mr-4">
                        <i class="bi bi-receipt text-2xl"></i>
                    </div>
                    <div>
                        <h3 class="text-lg font-semibold text-white">
                            Recibo
                        </h3>
                        <p class="text-sm text-gray-400">Informação do Recibo</p>
                    </div>
                </div>
                <div class="flex items-center space-x-4">
                    <p-tag [value]="'SUBMETIDO'" [severity]="'success'" />
                    <p-button
                        (click)="downloadFile(aplicanteData.id, aplicanteData.pedidoInscricaoCadastro.id, aplicanteData.pedidoInscricaoCadastro.fatura.id, aplicanteData.pedidoInscricaoCadastro.fatura.recibo?.id!)"
                        icon="pi pi-download" label="Decarregar Recibo" [raised]="true" [loading]="downloadLoading"
                        severity="info" />
                </div>
            </div>
            <div
                class="flex flex-col sm:flex-row items-start sm:items-center justify-between p-4 bg-[#3A3A41] rounded-lg">
                <div class="flex items-center mb-4 sm:mb-0">
                    <div class="flex items-center justify-center h-12 w-12 rounded-full bg-orange-500 text-white mr-4">
                        <i class="bi bi-person-check text-2xl"></i>
                    </div>
                    <div>
                        <h3 class="text-lg font-semibold text-white">
                            Em Análise
                        </h3>
                        <p class="text-sm text-gray-400">
                            Em análise pelo chefe de departamento.
                        </p>
                    </div>
                </div>
                <div class="flex items-center space-x-4">
                    @switch (aplicanteData.estado) {
                    @case ('REVISTO') {
                    <p-tag [value]="'REVISTO'" [severity]="'SUBMETIDO'" />

                    }
                    @case ('APROVADO') {
                    <p-tag [value]="'REVISTO'" [severity]="'SUBMETIDO'" />
                    }
                    @case ('SUBMETIDO') {
                    <p-tag [value]="'EM CURSO'" [severity]="'info'" icon="pi pi-clock" />
                    }
                    @case ('EM_CURSO') {
                    <p-tag value="PENDENTE" [severity]="'warn'" icon="pi pi-ban" />
                    }
                    }
                </div>
            </div>
            <div
                class="flex flex-col sm:flex-row items-start sm:items-center justify-between p-4 bg-[#3A3A41] rounded-lg">
                <div class="flex items-center mb-4 sm:mb-0">
                    <div class="flex items-center justify-center h-12 w-12 rounded-full bg-purple-500 text-white mr-4">
                        <i class="bi bi-award text-2xl"></i>
                    </div>
                    <div>
                        <h3 class="text-lg font-semibold text-white">Certificado</h3>
                        <p class="text-sm text-gray-400">Certificado oficial de registo
                            {{aplicanteData.categoria |titlecase}}.</p>
                    </div>
                </div>
                <div class="flex items-center space-x-4">
                    @if (aplicanteData.pedidoInscricaoCadastro.certificadoInscricaoCadastro) {
                    <p-tag [value]="'EMITIDO'" [severity]="'success'" />
                    <p-button
                        routerLink="/gestor/application/{{aplicanteData.id}}/certificado-inscricao/{{aplicanteData.pedidoInscricaoCadastro.certificadoInscricaoCadastro.id}}"
                        icon="pi pi-eye" label="Pré-visualização" [raised]="true" severity="info" />
                    }@else {
                    <p-tag value="Nao Emitido" [severity]="'warn'" icon="pi pi-times" />
                    }

                </div>
            </div>
        </div>
        }@else {
        <div class="space-y-6">
            <div class="bg-[#3A3A41] rounded-lg">
                <div class="flex flex-col sm:flex-row items-start sm:items-center justify-between p-4">
                    <div class="flex items-center mb-4 sm:mb-0">
                        <div
                            class="flex items-center justify-center h-12 w-12 rounded-full bg-blue-500 text-white mr-4">
                            <i class="bi bi-file-text text-2xl"></i>
                        </div>
                        <div>
                            <h3 class="text-lg font-semibold text-white">
                                Formulário do Pedido de Licença para Exercício de Atividade
                                {{aplicanteData.categoria |titlecase}}
                            </h3>
                            <p class="text-sm text-gray-400">
                                Detalhes do Pedido de Licença para Exercício de Atividade
                                {{aplicanteData.categoria |titlecase}}
                            </p>
                        </div>
                    </div>
                    <div class="flex items-center space-x-4">
                        @if (aplicanteData.pedidoLicencaAtividade) {
                        <p-tag [value]="aplicanteData.pedidoLicencaAtividade.status"
                            [severity]="aplicanteData.pedidoLicencaAtividade.status| statusSeverity" />
                        <p-button routerLink="/gestor/application/{{aplicanteData.id}}/pedido-atividade"
                            icon="pi pi-eye" label="Pré-visualização" [raised]="true" severity="info" />
                        }
                        @else {
                        <p-tag value="Em curso" [severity]="'info'" icon="pi pi-clock" />
                        }
                    </div>
                </div>
                <div class="border-t border-gray-600 mx-4"></div>
                <!-- Pedido Vistoria -->
                <div
                    class="flex flex-col sm:flex-row items-start sm:items-center justify-between p-4 bg-[#3A3A41] rounded-lg">
                    <div class="flex items-center mb-4 sm:mb-0">
                        <div
                            class="flex items-center justify-center h-12 w-12 rounded-full bg-amber-500 text-white mr-4">
                            <i class="bi bi-file-text text-2xl"></i>
                        </div>
                        <div>
                            <h3 class="text-lg font-semibold text-white">
                                Formulário do Pedido de Vistoria para Licença de Exercício de
                                Atividade
                                {{aplicanteData.categoria |titlecase}}
                            </h3>
                            <p class="text-sm text-gray-400">
                                Detalhes do Pedido de Vistoria
                                {{aplicanteData.categoria |titlecase}}
                            </p>
                        </div>
                    </div>
                    <div class="flex items-center space-x-4">
                        @if (pedidoVistoria) {
                        <p-tag [value]="pedidoVistoria.status" [severity]="pedidoVistoria.status| statusSeverity" />
                        <p-button routerLink="/gestor/application/{{aplicanteData.id}}/pedido-vistoria" icon="pi pi-eye"
                            label="Pré-visualização" [raised]="true" severity="info" />
                        }
                        @else {
                        <p-tag value="Em curso" [severity]="'info'" icon="pi pi-clock" />
                        }

                    </div>
                </div>
                <!-- End Pedido Vistoria -->
                <!-- Fatura Pedido Licenca -->
                <!-- <div class="flex flex-col sm:flex-row items-start sm:items-center justify-between p-4">
                    <div class="flex items-center mb-4 sm:mb-0">
                        <div
                            class="flex items-center justify-center h-12 w-12 rounded-full bg-green-500 text-white mr-4">
                            <i class="bi bi-credit-card text-2xl"></i>
                        </div>
                        <div>
                            <h3 class="text-lg font-semibold text-white">
                                Fatura
                            </h3>
                            <p class="text-sm text-gray-400">Informação da Fatura do Pedido de
                                Licença
                                para Exercício de Atividade</p>
                        </div>
                    </div>
                    <div class="flex items-center space-x-4">
                        @if (aplicanteData.pedidoLicencaAtividade &&
                        aplicanteData.pedidoLicencaAtividade.fatura) {
                        <p-tag [value]="aplicanteData.pedidoLicencaAtividade.fatura.status"
                            [severity]="aplicanteData.pedidoLicencaAtividade.fatura.status| statusSeverity" />
                        <p-button routerLink="/gestor/application/{{aplicanteData.id}}/fatura-atividade"
                            icon="pi pi-eye" label="Pré-visualização" [raised]="true" severity="info" />
                        }@else {
                        <p-tag value="Não Emitida" [severity]="'secondary'" icon="pi pi-ban" />
                        }

                    </div>
                </div>
                
                <div class="border-t border-gray-600 mx-4"></div>
                <div
                    class="flex flex-col sm:flex-row items-start sm:items-center justify-between p-4 bg-[#3A3A41] rounded-lg">
                    <div class="flex items-center mb-4 sm:mb-0">
                        <div
                            class="flex items-center justify-center h-12 w-12 rounded-full bg-zinc-500 text-white mr-4">
                            <i class="bi bi-receipt text-2xl"></i>
                        </div>
                        <div>
                            <h3 class="text-lg font-semibold text-white">
                                Recibo
                            </h3>
                            <p class="text-sm text-gray-400">
                                Informação do Recibo da Fatura do Pedido de Licença
                                para Exercício de Atividade
                            </p>
                        </div>
                    </div>
                    <div class="flex items-center space-x-4">
                        @if (aplicanteData.pedidoLicencaAtividade
                        && aplicanteData.pedidoLicencaAtividade.fatura
                        && aplicanteData.pedidoLicencaAtividade.fatura.recibo
                        ){
                        <p-tag [value]="'SUBMETIDO'" [severity]="'success'" />
                        <p-button
                            (click)="downloadFile(aplicanteData.id, aplicanteData.pedidoLicencaAtividade.id, aplicanteData.pedidoLicencaAtividade.fatura.id, aplicanteData.pedidoLicencaAtividade.fatura.recibo.id)"
                            icon="pi pi-download" label="Decarregar Recibo" [raised]="true" [loading]="downloadLoading"
                            severity="info" />
                        }@else {
                        <p-tag value="Não Submetida" [severity]="'secondary'" icon="pi pi-ban" />
                        }

                    </div>
                </div> -->
                <!-- End Fatura Pedido Licenca -->
            </div>

            <div class="bg-[#3A3A41] rounded-lg">
                <div
                    class="flex flex-col sm:flex-row items-start sm:items-center justify-between p-4 bg-[#3A3A41] rounded-lg">
                    <div class="flex items-center mb-4 sm:mb-0">
                        <div
                            class="flex items-center justify-center h-12 w-12 rounded-full bg-green-500 text-white mr-4">
                            <i class="bi bi-credit-card text-2xl"></i>
                        </div>
                        <div>
                            <h3 class="text-lg font-semibold text-white">
                                Fatura
                            </h3>
                            <p class="text-sm text-gray-400">Informação da Fatura do Pedido de
                                Vistoria
                                para Licença de Exercício de Atividade
                                {{aplicanteData.categoria |titlecase}}</p>
                        </div>
                    </div>
                    <div class="flex items-center space-x-4">
                        @if (pedidoVistoria &&
                        pedidoVistoria.fatura) {
                        <p-tag [value]="pedidoVistoria.fatura.status"
                            [severity]="pedidoVistoria.fatura.status| statusSeverity" />
                        <p-button routerLink="/gestor/application/{{aplicanteData.id}}/fatura-vistoria" icon="pi pi-eye"
                            label="Pré-visualização" [raised]="true" severity="info" />
                        }@else {
                        <p-tag value="Não Emitida" [severity]="'secondary'" icon="pi pi-ban" />
                        }

                    </div>
                </div>
                <div class="border-t border-gray-600 mx-4"></div>
                <div
                    class="flex flex-col sm:flex-row items-start sm:items-center justify-between p-4 bg-[#3A3A41] rounded-lg">
                    <div class="flex items-center mb-4 sm:mb-0">
                        <div
                            class="flex items-center justify-center h-12 w-12 rounded-full bg-zinc-500 text-white mr-4">
                            <i class="bi bi-receipt text-2xl"></i>
                        </div>
                        <div>
                            <h3 class="text-lg font-semibold text-white">
                                Recibo
                            </h3>
                            <p class="text-sm text-gray-400">
                                Informação do Recibo da Fatura do Pedido de Vistoria
                                para Licença de Exercício de Atividade
                                {{aplicanteData.categoria |titlecase}}
                            </p>
                        </div>
                    </div>
                    <div class="flex items-center space-x-4">
                        @if (pedidoVistoria
                        && pedidoVistoria.fatura
                        && pedidoVistoria.fatura.recibo
                        ){
                        <p-tag [value]="'SUBMETIDO'" [severity]="'success'" />
                        <p-button
                            (click)="downloadFile(aplicanteData.id, pedidoVistoria.id, pedidoVistoria.fatura.id, pedidoVistoria.fatura.recibo.id)"
                            icon="pi pi-download" label="Decarregar Recibo" [raised]="true" [loading]="downloadLoading"
                            severity="info" />
                        }@else {
                        <p-tag value="Não Submetida" [severity]="'secondary'" icon="pi pi-ban" />
                        }

                    </div>
                </div>
            </div>

            <div
                class="flex flex-col sm:flex-row items-start sm:items-center justify-between p-4 bg-[#3A3A41] rounded-lg">
                <div class="flex items-center mb-4 sm:mb-0">
                    <div class="flex items-center justify-center h-12 w-12 rounded-full bg-cyan-500 text-white mr-4">
                        <i class="bi bi-list-check text-2xl"></i>
                    </div>
                    <div>
                        <h3 class="text-lg font-semibold text-white">
                            Formulário de Auto Vistoria
                            {{aplicanteData.categoria |titlecase}}
                        </h3>
                        <p class="text-sm text-gray-400">
                            Detalhes do Auto Vistoria
                            {{aplicanteData.categoria |titlecase}}
                        </p>
                    </div>
                </div>
                <div class="flex items-center space-x-4">
                    @if (autoVistoria && autoVistoria.prazo === 0) {
                    <p-tag [value]="'SUBMETIDO'" [severity]="'SUBMETIDO'| statusSeverity" />
                    <p-button routerLink="/gestor/application/{{aplicanteData.id}}/auto-vistoria" icon="pi pi-eye"
                        label="Pré-visualização" [raised]="true" severity="info" />
                    }
                    @else {
                    @if ((aplicanteData.estado === 'ATRIBUIDO' || aplicanteData.estado === 'SUSPENDE') && user.role.name
                    === 'ROLE_STAFF') {
                    <p-button [routerLink]="['auto-vistoria']" icon="pi pi-pencil" label="Preencher" [raised]="true"
                        severity="warn" />
                    <a [href]="'https://www.google.com/maps?q=' + aplicanteData.empresa.latitude + ',' + aplicanteData.empresa.longitude"
                        target="_blank" rel="noopener noreferrer" class="p-button font-bold" icon="pi pi-map-marker"
                        label="Localização" severity="secondary" pTooltip="Localização" tooltipPosition="top">
                        <i class="bi bi-map"></i>
                    </a>
                    }@else {
                    <p-tag value="Em curso" [severity]="'info'" icon="pi pi-clock" />
                    }
                    }

                </div>
            </div>
            <div
                class="flex flex-col sm:flex-row items-start sm:items-center justify-between p-4 bg-[#3A3A41] rounded-lg">
                <div class="flex items-center mb-4 sm:mb-0">
                    <div class="flex items-center justify-center h-12 w-12 rounded-full bg-orange-500 text-white mr-4">
                        <i class="bi bi-person-check text-2xl"></i>
                    </div>
                    <div>
                        <h3 class="text-lg font-semibold text-white">
                            Em Análise
                        </h3>
                        <p class="text-sm text-gray-400">
                            Em análise pelo chefe de departamento.
                        </p>
                    </div>
                </div>
                <div class="flex items-center space-x-4">
                    @if (aplicanteData.estado === 'REVISTO' || aplicanteData.estado === 'APROVADO')
                    {
                    <p-tag [value]="'REVISTO'" [severity]="'SUBMETIDO'" />
                    }
                    @else {
                    <p-tag value="Em curso" [severity]="'info'" icon="pi pi-clock" />
                    }
                </div>
            </div>
            <div
                class="flex flex-col sm:flex-row items-start sm:items-center justify-between p-4 bg-[#3A3A41] rounded-lg">
                <div class="flex items-center mb-4 sm:mb-0">
                    <div class="flex items-center justify-center h-12 w-12 rounded-full bg-purple-500 text-white mr-4">
                        <i class="bi bi-award text-2xl"></i>
                    </div>
                    <div>
                        <h3 class="text-lg font-semibold text-white">Certificado</h3>
                        <p class="text-sm text-gray-400">
                            Alvará de Licença para Exercício da Atividade
                            {{aplicanteData.categoria |titlecase}}.
                        </p>
                    </div>
                </div>
                <div class="flex items-center space-x-4">
                    @if (aplicanteData.pedidoLicencaAtividade.certificadoLicencaAtividade) {
                    <p-tag [value]="'EMITIDO'" [severity]="'success'" />
                    <p-button
                        routerLink="/gestor/application/{{aplicanteData.id}}/certificado-atividade/{{aplicanteData.pedidoLicencaAtividade.certificadoLicencaAtividade.id}}"
                        icon="pi pi-eye" label="Pré-visualização" [raised]="true" severity="info" />
                    }@else {
                    <p-tag value="Nao Emitido" [severity]="'warn'" icon="pi pi-times" />
                    }

                </div>
            </div>
        </div>
        }
    </div>
    <div class="bg-[#26262B] p-6 rounded-lg mb-8">
        <h2 class="text-xl font-semibold text-white mb-6">Histórico do Aplicante</h2>
        <div class="relative pl-8">
            <div class="absolute left-2 top-2 bottom-2 w-0.5 bg-gray-600"></div>
            <div class="space-y-8">
                @for (item of aplicanteData.historicoStatus; track $index) {
                <div class="relative">
                    @switch (item.status) {
                    @case ('EM_CURSO') {
                    <div
                        class="absolute -left-10 top-0 flex items-center justify-center h-8 w-8 rounded-full bg-gray-500 ring-4 ring-[#2D3748]">
                        <i class="bi bi-clock-history"></i>
                    </div>
                    <div class="ml-4">
                        <p class="font-semibold text-white">Aplicante Criado</p>
                        <p class="text-sm text-gray-400">
                            Aplicante criado pelo:
                            <span class="font-medium text-gray-300">
                                {{item.alteradoPor}}
                            </span>
                        </p>
                        <p class="text-xs text-gray-500 mt-1">
                            {{item.dataAlteracao | date:'dd MMMM yyyy, HH:mm:ss':'':'pt'}}
                        </p>
                    </div>
                    }
                    @case ('REVISAO') {
                    <div
                        class="absolute -left-10 top-0 flex items-center justify-center h-8 w-8 rounded-full bg-yellow-500 ring-4 ring-[#2D3748]">
                        <i class="bi bi-search"></i>
                    </div>
                    <div class="ml-4">
                        <p class="font-semibold text-white">Aplicante em Revisão</p>
                        <p class="text-sm text-gray-400">Alterado pelo: <span class="font-medium text-gray-300">
                                {{item.alteradoPor}}
                            </span></p>
                        <p class="text-xs text-gray-500 mt-1">
                            {{item.dataAlteracao | date:'dd MMMM yyyy, HH:mm:ss':'':'pt'}}
                        </p>
                    </div>
                    }
                    @case ('APROVADO') {
                    <div
                        class="absolute -left-10 top-0 flex items-center justify-center h-8 w-8 rounded-full bg-green-500 ring-4 ring-[#2D3748]">
                        <i class="bi bi-check-circle"></i>
                    </div>
                    <div class="ml-4">
                        <p class="font-semibold text-white">Aplicante Aprovado</p>
                        <p class="text-sm text-gray-400">Aplicante foi aprovado pelo Gestor.</p>
                        <p class="text-xs text-gray-500 mt-1">
                            {{item.dataAlteracao | date:'dd MMMM yyyy, HH:mm:ss':'':'pt'}}
                        </p>
                    </div>
                    }
                    @case ('ATRIBUIDO') {
                    <div
                        class="absolute -left-10 top-0 flex items-center justify-center h-8 w-8 rounded-full bg-blue-500 ring-4 ring-[#2D3748]">
                        <i class="bi bi-person"></i>
                    </div>
                    <div class="ml-4">
                        <p class="font-semibold text-white">Aplicante Atribuído ao Funcionário</p>
                        <p class="text-sm text-gray-400">Alterado pelo: <span class="font-medium text-gray-300">
                                {{item.alteradoPor}}
                            </span></p>
                        <p class="text-xs text-gray-500 mt-1">
                            {{item.dataAlteracao | date:'dd MMMM yyyy, HH:mm:ss':'':'pt'}}
                        </p>
                    </div>
                    }
                    @case ('SUBMETIDO') {
                    <div
                        class="absolute -left-10 top-0 flex items-center justify-center h-8 w-8 rounded-full bg-emerald-500 ring-4 ring-[#2D3748]">
                        <i class="bi bi-send-check"></i>
                    </div>
                    <div class="ml-4">
                        <p class="font-semibold text-white">Aplicante foi Submetido</p>
                        <p class="text-sm text-gray-400">Alterado pelo: <span class="font-medium text-gray-300">
                                {{item.alteradoPor}}
                            </span></p>
                        <p class="text-xs text-gray-500 mt-1">
                            {{item.dataAlteracao | date:'dd MMMM yyyy, HH:mm:ss':'':'pt'}}
                        </p>
                    </div>
                    }
                    @case ('REVISTO') {
                    <div
                        class="absolute -left-10 top-0 flex items-center justify-center h-8 w-8 rounded-full bg-orange-500 ring-4 ring-[#2D3748]">
                        <i class="bi bi-person-check-fill"></i>
                    </div>
                    <div class="ml-4">
                        <p class="font-semibold text-white">Aplicante foi revisto</p>
                        <p class="text-sm text-gray-400">Revisto pelo: <span class="font-medium text-gray-300">
                                {{item.alteradoPor}}
                            </span></p>
                        <p class="text-xs text-gray-500 mt-1">
                            {{item.dataAlteracao | date:'dd MMMM yyyy, HH:mm:ss':'':'pt'}}
                        </p>
                    </div>
                    }
                    @case ('REJEITADO') {
                    <div
                        class="absolute -left-10 top-0 flex items-center justify-center h-8 w-8 rounded-full bg-red-500 ring-4 ring-[#2D3748]">
                        <i class="bi bi-ban"></i>
                    </div>
                    <div class="ml-4">
                        <p class="font-semibold text-white">Aplicante foi Rejeitado</p>
                        <p class="text-sm text-gray-400">Alterado pelo: <span class="font-medium text-gray-300">
                                {{item.alteradoPor}}
                            </span></p>
                        <p class="text-xs text-gray-500 mt-1">
                            {{item.dataAlteracao | date:'dd MMMM yyyy, HH:mm:ss':'':'pt'}}
                        </p>
                    </div>
                    }
                    }

                </div>
                }

            </div>
        </div>
    </div>
    @if (showApprovalActions(aplicanteData)) {
    <div class="mt-10 flex justify-end space-x-4">
        <p-button (click)="cancelar($event)" icon="pi pi-times" label="Rejeitar o Aplicante" [raised]="true"
            severity="danger" />
        <p-button (click)="aprovar($event)" icon="pi pi-check-circle" label="Aceitar o Aplicante" [raised]="true"
            severity="success" />
    </div>
    }
    @if (showReviewdActions(aplicanteData)) {
    <div class="mt-10 flex justify-end space-x-4">
        <p-button (click)="rejeitarRevisto($event)" icon="pi pi-times" label="Rejeitar o Aplicante" [raised]="true"
            severity="danger" />
        <p-button (click)="revisto($event)" icon="pi pi-check-circle" label="Revisto o Aplicante" [raised]="true"
            severity="success" />
    </div>
    }
</div>
<p-confirmdialog key="revisto">
    <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
        <div class="flex flex-col items-center p-8 rounded">
            <div
                class="rounded-full bg-amber-400 text-primary-contrast inline-flex justify-center items-center h-24 w-24 -mt-20">
                <i class="pi pi-exclamation-triangle !text-5xl"></i>
            </div>
            <div class="flex flex-col items-start gap-4">
                <p class="mb-0 text-balance">
                    Após a revisão deste aplicante, o processo será automaticamente
                    encaminhado ao Diretor para apreciação e decisão final de aprovação.
                </p>
            </div>
            <div class="flex items-center gap-2 mt-6">
                <p-button type="button" [outlined]="true" severity="secondary" icon="pi pi-times" label="Cancel"
                    (click)="onReject()"></p-button>
                <p-button type="button" icon="pi pi-check" label="Confirmar" (onClick)="onAccept()">
                </p-button>
            </div>
        </div>
    </ng-template>
</p-confirmdialog>
<p-confirmdialog key="aprovar">
    <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
        <div class="flex flex-col items-center p-8 rounded">
            <div
                class="rounded-full bg-amber-400 text-primary-contrast inline-flex justify-center items-center h-24 w-24 -mt-20">
                <i class="pi pi-exclamation-triangle !text-5xl"></i>
            </div>
            <div class="flex flex-col items-start gap-4">
                <p class="mb-0 text-balance">
                    Ao aprovar este aplicante, será automaticamente gerado <br> <span class="font-semibold">o
                        certificado de inscrição e
                        cadastro</span>
                    correspondente.
                </p>
            </div>
            <div class="flex items-center gap-2 mt-6">
                <p-button type="button" [outlined]="true" severity="secondary" icon="pi pi-times" label="Cancel"
                    (click)="onReject()"></p-button>
                <p-button type="button" icon="pi pi-check" label="Confirmar" (onClick)="onAccept()">
                </p-button>
            </div>
        </div>
    </ng-template>
</p-confirmdialog>
<p-confirmdialog key="cancelar">
    <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
        <div class="flex flex-col items-center p-8 rounded">
            <div
                class="rounded-full bg-amber-400 text-primary-contrast inline-flex justify-center items-center h-24 w-24 -mt-20">
                <i class="pi pi-exclamation-triangle !text-5xl"></i>
            </div>
            <div [formGroup]="form"
                class="flex flex-col items-start w-full gap-4 border-b border-surface-200 dark:border-surface-700">
                <label for="description">
                    Motivo de Rejeicao
                </label>
                <textarea rows="5" cols="30" id="description" pTextarea [formControl]="descricao"></textarea>
            </div>
            <p class="mb-0">{{ message.message }}</p>
            <div class="flex items-center gap-2 mt-6">
                <p-button type="button" [outlined]="true" severity="secondary" icon="pi pi-times" label="Cancel"
                    (click)="onReject()"></p-button>
                <p-button [disabled]="!descricao.valid" type="button" icon="pi pi-check" label="Confirmar"
                    (onClick)="onAccept()">
                </p-button>
            </div>
        </div>
    </ng-template>
</p-confirmdialog>
<p-toast position="top-right" key="tr" />
<p-toast position="bottom-right" key="br" />
}