 @if (aplicanteData) {
 <form [formGroup]="requestForm">
     <span class="text-xl font-bold mt-6 mb-3 block">
         PEDIDO
     </span>
     <div class="grid grid-cols-12 gap-4">
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="application" class="font-medium  mb-2 block">
                 Tipo
             </label>
             <p-select formControlName="tipo" inputId="application" [options]="tipoPedidoOpts(aplicanteData.categoria)"
                 optionLabel="name" optionValue="value" fluid filterBy="name" [showClear]="true"
                 placeholder="Select a Pedido">
             </p-select>
         </div>
     </div>

     <span class="text-xl font-bold mt-6 mb-3 block">
         REQUERENTE
     </span>
     <section id="requerente" class="grid grid-cols-12 gap-4">
         <div class="mb-6 col-span-12">
             <label for="nomeEmpresa" class="font-medium  mb-2 block">
                 Firma ou denominacao social
             </label>
             <input formControlName="nomeEmpresa" id="nomeEmpresa" type="text" pInputText fluid />
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="empresaNif" class="font-medium  mb-2 block">
                 NIF
             </label>
             <input formControlName="empresaNif" id="empresaNif" type="text" pInputText fluid />
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="empresaNumeroRegistoComercial" class="font-medium  mb-2 block">
                 Nº de Registo Comercial
             </label>
             <input formControlName="empresaNumeroRegistoComercial" id="empresaNumeroRegistoComercial" type="text"
                 pInputText fluid />
         </div>
         <div class="col-span-12">
             <div formGroupName="empresaSede" class="grid grid-cols-12">
                 <div class="mb-6 col-span-12">
                     <label for="local" class="font-medium  mb-2 block">
                         Local do Estabelecimento
                     </label>
                     <input formControlName="local" id="local" type="text" pInputText fluid
                         placeholder="ex. Av. Pres. Nicolau Lobato" />
                 </div>
                 <div class="mb-6 col-span-12">
                     <div class="flex flex-col sm:flex-row sm:items-center gap-6">
                         <div class="flex-auto">
                             <label for="aldeia" class="font-medium  mb-2 block">
                                 Aldeia
                             </label>
                             <p-select fluid formControlName="aldeia" [options]="listaAldeiaEmpresa" optionLabel="nome"
                                 optionValue="id" placeholder="Selecione a Aldeia" [filter]="true" filterBy="nome"
                                 [showClear]="true" (onFilter)="aldeiaFilter($event)" (onpanelHide)="onPanelHide()"
                                 (onChange)="aldeiaOnChange($event, 'empresaSede')" (onClear)="onPanelHide()">
                             </p-select>
                         </div>
                         <div class="flex-auto">
                             <label for="suco" class="font-medium  mb-2 block">
                                 Suco
                             </label>
                             <input formControlName="suco" id="suco" type="text" pInputText fluid />
                         </div>
                         <div class="flex-auto">
                             <label for="posto" class="font-medium  mb-2 block">
                                 Posto Administrativo
                             </label>
                             <input formControlName="postoAdministrativo" id="postoAdministrativo" type="text"
                                 pInputText fluid />
                         </div>
                         <div class="flex-auto">
                             <label for="municipio" class="font-medium  mb-2 block">
                                 Municipio
                             </label>
                             <input formControlName="municipio" id="municipio" type="text" pInputText fluid />
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="classeAtividade" class="font-medium  mb-2 block">
                 Atividade Principal exercida no Estabelecimento
             </label>
             <p-select formControlName="classeAtividade" (onChange)="atividadePrincipalChange($event)"
                 inputId="classeAtividade" [options]="listaClasseAtividade" optionLabel="codigo" fluid [filter]="true"
                 filterBy="codigo,descricao" [showClear]="true" placeholder="Selecione a atividade principal">
                 <ng-template let-tipo #item>
                     <div class="flex items-center gap-2">
                         <span>{{tipo.codigo}} </span> - <span>{{tipo.descricao}} </span>
                     </div>
                 </ng-template>
             </p-select>
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="classeAtividadeCodigo" class="font-medium mb-2 block">
                 Descricao
             </label>
             <input pInputText formControlName="classeAtividadeCodigo" id="classeAtividadeCodigo" fluid />
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="tipoAtividade" class="font-medium  mb-2 block">
                 Tipo Atividade
             </label>
             <input formControlName="tipoAtividade" id="tipoAtividade" type="text" pInputText fluid />
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="tipoAtividadeCodigo" class="font-medium  mb-2 block">
                 Descricao
             </label>
             <input formControlName="tipoAtividadeCodigo" id="tipoAtividadeCodigo" type="text" pInputText fluid />
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="risco" class="font-medium  mb-2 block">
                 Nivel de Risco
             </label>
             <input formControlName="risco" id="risco" type="text" pInputText fluid />
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="estatutoSociedadeComercial" class="font-medium  mb-2 block">
                 Estatuto da sociedade comercial
             </label>
             <p-selectbutton [options]="stateOpts" formControlName="estatutoSociedadeComercial" optionLabel="label"
                 optionValue="value" />
         </div>

     </section>

     <span class="text-xl font-bold mt-6 mb-3 block">
         REPRESENTANTE
     </span>
     <section formGroupName="representante" id="representante" class="grid grid-cols-12 gap-4">
         <div class="mb-6 col-span-12">
             <label for="nome" class="font-medium  mb-2 block">
                 Nome
             </label>
             <input formControlName="nome" id="nome" type="text" pInputText fluid />
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="nacionalidade" class="font-medium  mb-2 block">
                 Nacionalidade
             </label>
             <input formControlName="nacionalidade" id="nacionalidade" type="text" pInputText fluid />
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="naturalidade" class="font-medium  mb-2 block">
                 Naturalidade
             </label>
             <input formControlName="naturalidade" id="naturalidade" type="text" pInputText fluid />
         </div>
         <div class="col-span-12">
             <div formGroupName="morada" class="grid grid-cols-12">
                 <div class="mb-6 col-span-12">
                     <label for="local" class="font-medium  mb-2 block">
                         Morada
                     </label>
                     <input formControlName="local" id="local" type="text" pInputText fluid
                         placeholder="ex. Av. Pres. Nicolau Lobato" />
                 </div>
                 <div class="mb-6 col-span-12">
                     <div class="flex flex-col sm:flex-row sm:items-center gap-6">
                         <div class="flex-auto">
                             <label for="aldeia" class="font-medium  mb-2 block">
                                 Aldeia
                             </label>
                             <p-select fluid formControlName="aldeia" [options]="listaAldeiaRepresentante"
                                 optionLabel="nome" optionValue="id" placeholder="Selecione a Aldeia" [filter]="true"
                                 filterBy="nome" [showClear]="true" (onFilter)="representanteAldeiaFilter($event)"
                                 (onpanelHide)="onPanelHide()"
                                 (onChange)="aldeiaNestedOnChange($event, 'representante', 'morada')"
                                 (onClear)="onPanelHide()">
                             </p-select>
                         </div>
                         <div class="flex-auto">
                             <label for="suco" class="font-medium  mb-2 block">
                                 Suco
                             </label>
                             <input formControlName="suco" id="suco" type="text" pInputText fluid />
                         </div>
                         <div class="flex-auto">
                             <label for="posto" class="font-medium  mb-2 block">
                                 Posto Administrativo
                             </label>
                             <input formControlName="postoAdministrativo" id="postoAdministrativo" type="text"
                                 pInputText fluid />
                         </div>
                         <div class="flex-auto">
                             <label for="municipio" class="font-medium  mb-2 block">
                                 Municipio
                             </label>
                             <input formControlName="municipio" id="municipio" type="text" pInputText fluid />
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="representanteTelefone" class="font-medium  mb-2 block">
                 Telefone
             </label>
             <input formControlName="telefone" id="representanteTelefone" type="text" pInputText fluid />
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="representanteEmail" class="font-medium  mb-2 block">
                 Email
             </label>
             <input formControlName="email" id="representanteEmail" type="email" pInputText fluid />
         </div>
     </section>


     <span class="text-xl font-bold mt-6 mb-3 block">
         IDENTIFICAÇÃO DO ADMINSTRADOR OU GERENTE
     </span>
     <section formGroupName="gerente" id="representante" class="grid grid-cols-12 gap-4 mb-8">
         <div class="mb-6 col-span-12">
             <label for="nome" class="font-medium  mb-2 block">
                 Nome
             </label>
             <input formControlName="nome" id="nome" type="text" pInputText fluid />
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="estadoCivil" class="font-medium  mb-2 block">
                 Estado Civil
             </label>
             <input formControlName="estadoCivil" id="estadoCivil" type="text" pInputText fluid />
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="nacionalidade" class="font-medium  mb-2 block">
                 Nacionalidade
             </label>
             <input formControlName="nacionalidade" id="nacionalidade" type="text" pInputText fluid />
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="naturalidade" class="font-medium  mb-2 block">
                 Naturalidade
             </label>
             <input formControlName="naturalidade" id="naturalidade" type="text" pInputText fluid />
         </div>
         <div class="col-span-12">
             <div formGroupName="morada" class="grid grid-cols-12">
                 <div class="mb-6 col-span-12">
                     <label for="local" class="font-medium  mb-2 block">
                         Morada
                     </label>
                     <input formControlName="local" id="local" type="text" pInputText fluid
                         placeholder="ex. Av. Pres. Nicolau Lobato" />
                 </div>
                 <div class="mb-6 col-span-12">
                     <div class="flex flex-col sm:flex-row sm:items-center gap-6">
                         <div class="flex-auto">
                             <label for="aldeia" class="font-medium  mb-2 block">
                                 Aldeia
                             </label>
                             <p-select fluid formControlName="aldeia" [options]="listaAldeiaGerente" optionLabel="nome"
                                 optionValue="id" placeholder="Selecione a Aldeia" [filter]="true" filterBy="nome"
                                 [showClear]="true" (onFilter)="gerenteAldeiaFilter($event)"
                                 (onpanelHide)="onPanelHide()"
                                 (onChange)="aldeiaNestedOnChange($event, 'gerente', 'morada')"
                                 (onClear)="onPanelHide()">
                             </p-select>
                         </div>
                         <div class="flex-auto">
                             <label for="suco" class="font-medium  mb-2 block">
                                 Suco
                             </label>
                             <input formControlName="suco" id="suco" type="text" pInputText fluid />
                         </div>
                         <div class="flex-auto">
                             <label for="posto" class="font-medium  mb-2 block">
                                 Posto Administrativo
                             </label>
                             <input formControlName="postoAdministrativo" id="postoAdministrativo" type="text"
                                 pInputText fluid />
                         </div>
                         <div class="flex-auto">
                             <label for="municipio" class="font-medium  mb-2 block">
                                 Municipio
                             </label>
                             <input formControlName="municipio" id="municipio" type="text" pInputText fluid />
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="gerenteTelefone" class="font-medium  mb-2 block">
                 Telefone
             </label>
             <input formControlName="telefone" id="gerenteTelefone" type="text" pInputText fluid />
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="gerenteEmail" class="font-medium  mb-2 block">
                 Email
             </label>
             <input formControlName="email" id="gerenteEmail" type="email" pInputText fluid />
         </div>
     </section>


     <div class="grid grid-cols-12 gap-4">
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="planta" class="font-medium  mb-2 block text-xl uppercase">
                 Planta de Localizacao do Estabelecimento Comercial (Documento)
             </label>
             @if (loadingUploadButtons.has('planta')) {
             <div class="w-1/2">
                 <p-progressbar mode="indeterminate" [style]="{ height: '6px' }" />
             </div>
             }
             <div class="flex justify-start pt-2">
                 <p-fileupload [chooseLabel]="'Carregar'" name="files" method="post"
                     [chooseIcon]="'pi pi-file-arrow-up'" (onUpload)="onUploadDocs($event, 'planta')"
                     (onProgress)="uploadOnProgress($event, 'planta')" [maxFileSize]="maxFileSize"
                     accept="application/pdf" mode="basic" [url]="uploadURLDocs()"
                     [disabled]="disabledAllForm || getFileByField('planta')" [auto]="true">
                 </p-fileupload>
             </div>
             @if (getFileByField('planta')) {
             <div>
                 <a class="cursor-pointer hover:underline hover:text-teal-300 ms-4">
                     {{getFileByField('planta').nome}}
                 </a>
                 @if (getFileByField('planta').id) {
                 <p-button (click)="downloadDoc(getFileByField('planta'))"
                     [loading]="loadingDownloadButtons.has(getFileByField('planta').nome)" icon="pi pi-download"
                     [rounded]="true" [text]="true" severity="success" />
                 }
                 <p-button icon="pi pi-trash" [rounded]="true" [text]="true"
                     [loading]="loadingRemoveButtons.has(getFileByField('planta').nome)" severity="danger"
                     [disabled]="disabledAllForm" (click)="removeDoc(getFileByField('planta'))" />
             </div>
             }
         </div>
     </div>
     <span class="text-xl font-bold mt-6 mb-3 block">
         DOCUMENTO COMPROVATIVO DE PROPRIEDADE, POSSE DE IMOVEL OU OUTRO CONTRATO DE ARRENDAMENTO
     </span>
     <div class="grid grid-cols-12 gap-4">
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="documentoPropriedade" class="font-medium  mb-2 block">
                 Documento comprovativo do direito de propriedade
             </label>
             <p-selectbutton (onChange)="documentoPropriedadeOnChange($event)" [options]="stateOpts"
                 formControlName="documentoPropriedade" optionLabel="label" optionValue="value" />
             @if(requestForm.get('documentoPropriedade')?.value === true) {
             @if (loadingUploadButtons.has('documentoPropriedade')) {
             <div class="w-1/2">
                 <p-progressbar mode="indeterminate" [style]="{ height: '6px' }" />
             </div>
             }
             <div class="flex justify-start pt-2">
                 <p-fileupload [chooseLabel]="'Carregar'" name="files" method="post"
                     [chooseIcon]="'pi pi-file-arrow-up'" (onUpload)="onUploadDocs($event, 'documentoPropriedade')"
                     (onProgress)="uploadOnProgress($event, 'documentoPropriedade')" [maxFileSize]="maxFileSize"
                     accept="application/pdf" mode="basic" [url]="uploadURLDocs()"
                     [disabled]="disabledAllForm || getFileByField('documentoPropriedade')" [auto]="true">
                 </p-fileupload>
             </div>
             @if (getFileByField('documentoPropriedade')) {
             <div>
                 <a class="cursor-pointer hover:underline hover:text-teal-300 ms-4">
                     {{getFileByField('documentoPropriedade').nome}}
                 </a>
                 @if (getFileByField('documentoPropriedade').id) {
                 <p-button (click)="downloadDoc(getFileByField('documentoPropriedade'))"
                     [loading]="loadingDownloadButtons.has(getFileByField('documentoPropriedade').nome)"
                     icon="pi pi-download" [rounded]="true" [text]="true" severity="success" />
                 }
                 <p-button icon="pi pi-trash" [rounded]="true" [text]="true"
                     [loading]="loadingRemoveButtons.has(getFileByField('documentoPropriedade').nome)" severity="danger"
                     [disabled]="disabledAllForm" (click)="removeDoc(getFileByField('documentoPropriedade'))" />
             </div>
             }
             }
         </div>
         @if (showcontratoArrendamentoForm) {
         <div class="mb-6 col-span-12">
             <label for="contratoArrendamento" class="font-medium  mb-2 block">
                 Contrato de arrendamento
             </label>
             @if (loadingUploadButtons.has('contratoArrendamento')) {
             <div class="w-1/2">
                 <p-progressbar mode="indeterminate" [style]="{ height: '6px' }" />
             </div>
             }
             <div class="flex justify-start pt-2">
                 <p-fileupload [chooseLabel]="'Carregar'" name="files" method="post"
                     (onUpload)="onUploadDocs($event, 'contratoArrendamento')" [chooseIcon]="'pi pi-file-arrow-up'"
                     (onProgress)="uploadOnProgress($event, 'contratoArrendamento')" [maxFileSize]="maxFileSize"
                     accept="application/pdf" mode="basic" [url]="uploadURLDocs()"
                     [disabled]="disabledAllForm || getFileByField('contratoArrendamento')" [auto]="true">
                 </p-fileupload>
             </div>
             @if (getFileByField('contratoArrendamento')) {
             <div>
                 <a class="cursor-pointer hover:underline hover:text-teal-300 ms-4">
                     {{getFileByField('contratoArrendamento').nome}}
                 </a>
                 @if (getFileByField('contratoArrendamento').id) {
                 <p-button (click)="downloadDoc(getFileByField('contratoArrendamento'))"
                     [loading]="loadingDownloadButtons.has(getFileByField('contratoArrendamento').nome)"
                     icon="pi pi-download" [rounded]="true" [text]="true" severity="success" />
                 }
                 <p-button icon="pi pi-trash" [rounded]="true" [text]="true"
                     [loading]="loadingRemoveButtons.has(getFileByField('contratoArrendamento').nome)" severity="danger"
                     [disabled]="disabledAllForm" (click)="removeDoc(getFileByField('contratoArrendamento'))" />
             </div>
             }
         </div>
         @if (showArrendadorForm) {
         <div class="col-span-12 mb-6 bg-gray-800 p-6 rounded-lg">
             <span class="text-xl font-bold mb-3 block">
                 Arrendador
             </span>
             <div formGroupName="arrendador" class="grid grid-cols-12 gap-4">
                 <div class="mb-6 col-span-12">
                     <label for="application" class="font-medium  mb-2 block">
                         Tipo Arrendador
                     </label>
                     <p-select formControlName="tipo" inputId="application" [options]="tipoArrendadorOpts"
                         optionLabel="name" optionValue="value" fluid filterBy="name" [showClear]="true"
                         placeholder="Selecione o tipo arrendador">
                     </p-select>
                 </div>
                 @if (requestForm.get('arrendador.tipo')?.value === 'Empresa' ||
                 requestForm.get('arrendador.tipo')?.value === 'Individual') {
                 <div class="mb-6 col-span-12">
                     <label for="nome" class="font-medium  mb-2 block">
                         Nome do Arrendador
                     </label>
                     <input formControlName="nome" id="nome" type="text" pInputText fluid />
                 </div>

                 <div class="mb-6 col-span-12 md:col-span-6">
                     <label for="tipoDocumento" class="font-medium  mb-2 block">
                         Tipo de Documento de Identificação
                     </label>
                     <p-select fluid formControlName="tipoDocumento" id="tipoDocumento" [options]="tipoDocumentoOpts"
                         optionLabel="name" optionValue="value" placeholder="Selecione o Tipo de Documento"
                         [filter]=" true" filterBy="nome" [showClear]="true">
                     </p-select>
                 </div>

                 <div class="mb-6 col-span-12 md:col-span-6">
                     <label for="numeroDocumento" class="font-medium  mb-2 block">
                         Nº Documento de Identificacao
                     </label>
                     <input formControlName="numeroDocumento" id="numeroDocumento" type="text" pInputText fluid />
                 </div>
                 }

                 @if (requestForm.get('arrendador.tipo')?.value) {
                 <div class="col-span-12">
                     <div formGroupName="endereco" class="grid grid-cols-12">
                         <div class="mb-6 col-span-12">
                             <label for="local" class="font-medium  mb-2 block">
                                 Endereço
                             </label>
                             <input formControlName="local" id="local" type="text" pInputText fluid
                                 placeholder="ex. Av. Pres. Nicolau Lobato" />
                         </div>
                         <div class="mb-6 col-span-12">
                             <div class="flex flex-col sm:flex-row sm:items-center gap-6">
                                 <div class="flex-auto">
                                     <label for="aldeia" class="font-medium  mb-2 block">
                                         Aldeia
                                     </label>
                                     <p-select fluid formControlName="aldeia" [options]="listaAldeiaArrendador"
                                         optionLabel="nome" optionValue="id" placeholder="Selecione a Aldeia"
                                         [filter]="true" filterBy="nome" [showClear]="true"
                                         (onFilter)="arrendadorAldeiaFilter($event)" (onpanelHide)="onPanelHide()"
                                         (onChange)="aldeiaNestedOnChange($event, 'arrendador', 'endereco')"
                                         (onClear)="onPanelHide()">
                                     </p-select>
                                 </div>
                                 <div class="flex-auto">
                                     <label for="suco" class="font-medium  mb-2 block">
                                         Suco
                                     </label>
                                     <input formControlName="suco" id="suco" type="text" pInputText fluid />
                                 </div>
                                 <div class="flex-auto">
                                     <label for="posto" class="font-medium  mb-2 block">
                                         Posto Administrativo
                                     </label>
                                     <input formControlName="postoAdministrativo" id="postoAdministrativo" type="text"
                                         pInputText fluid />
                                 </div>
                                 <div class="flex-auto">
                                     <label for="municipio" class="font-medium  mb-2 block">
                                         Municipio
                                     </label>
                                     <input formControlName="municipio" id="municipio" type="text" pInputText fluid />
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>

                 <div class="mb-6 col-span-12 md:col-span-6">
                     <label for="areaTotalTerreno" class="font-medium  mb-2 block">
                         Area Total do Terreno
                     </label>
                     <input formControlName="areaTotalTerreno" id="areaTotalTerreno" type="number" pInputText fluid />
                 </div>


                 <div class="mb-6 col-span-12 md:col-span-6">
                     <label for="areaTotalConstrucao" class="font-medium  mb-2 block">
                         Area Total da Construção
                     </label>
                     <input formControlName="areaTotalConstrucao" id="areaTotalConstrucao" type="number" pInputText
                         fluid />
                 </div>
                 <div class="mb-6 col-span-12 md:col-span-6">
                     <label for="dataInicio" class="font-medium mb-2 block">
                         Data de Inicio
                     </label>
                     <p-datepicker formControlName="dataInicio" appendTo="body" dateFormat="dd/mm/yy"
                         [showButtonBar]="true" fluid />
                 </div>
                 <div class="mb-6 col-span-12 md:col-span-6">
                     <label for="dataFim" class="font-medium mb-2 block">
                         Data de Termino
                     </label>
                     <p-datepicker formControlName="dataFim" appendTo="body" dateFormat="dd/mm/yy"
                         [showButtonBar]="true" fluid />
                 </div>
                 <div class="mb-6 col-span-12">
                     <label for="valorRendaMensal" class="font-medium  mb-2 block">
                         Valor Renda Mensal
                     </label>
                     <p-inputgroup>
                         <p-inputgroup-addon>$</p-inputgroup-addon>
                         <p-inputnumber formControlName="valorRendaMensal" mode="decimal" [minFractionDigits]="2"
                             [maxFractionDigits]="2" />
                     </p-inputgroup>
                 </div>
                 }
             </div>

         </div>
         }
         }
     </div>
     <div class="grid grid-cols-12 gap-4">
         @for (item of pedidoLicencaDocumentsFields; track $index) {
         <div class="mb-6 col-span-12">
             <label [for]="item.name" class="font-medium  mb-2 block">
                 {{item.label}}
             </label>
             @if (loadingUploadButtons.has(item.name)) {
             <div class="w-1/2">
                 <p-progressbar mode="indeterminate" [style]="{ height: '6px' }" />
             </div>
             }
             <div class="flex justify-start pt-2">
                 <p-fileupload [chooseLabel]="'Carregar'" name="files" method="post"
                     [chooseIcon]="'pi pi-file-arrow-up'" (onUpload)="onUploadDocs($event, item.name)"
                     [maxFileSize]="maxFileSize" accept="application/pdf" mode="basic" [url]="uploadURLDocs()"
                     (onProgress)="uploadOnProgress($event, item.name)"
                     [disabled]="disabledAllForm || getFileByField(item.name)" [auto]="true">
                 </p-fileupload>
             </div>
             @if (getFileByField(item.name)) {
             <div>
                 <a class="cursor-pointer hover:underline hover:text-teal-300 ms-4">
                     {{getFileByField(item.name).nome}}
                 </a>
                 @if (getFileByField(item.name).id) {
                 <p-button (click)="downloadDoc(getFileByField(item.name))"
                     [loading]="loadingDownloadButtons.has(getFileByField(item.name).nome)" icon="pi pi-download"
                     [rounded]="true" [text]="true" severity="success" />
                 }
                 <p-button icon="pi pi-trash" [rounded]="true" [text]="true"
                     [loading]="loadingRemoveButtons.has(getFileByField(item.name).nome)" severity="danger"
                     [disabled]="disabledAllForm" (click)="removeDoc(getFileByField(item.name))" />
             </div>
             }
         </div>
         }
         @if (aplicanteData.categoria === 'INDUSTRIAL') {
         <div class="mb-6 col-span-12">
             <label for="provasMOPFile" class="font-medium  mb-2 block">
                 Provas ou justificação do Ministério das Obras Públicas
             </label>
             @if (loadingUploadButtons.has('provasMOPFile')) {
             <div class="w-1/2">
                 <p-progressbar mode="indeterminate" [style]="{ height: '6px' }" />
             </div>
             }
             <div class="flex justify-start pt-2">
                 <p-fileupload [chooseLabel]="'Carregar'" name="provasMOPFile" method="post"
                     [chooseIcon]="'pi pi-file-arrow-up'" (onUpload)="onUploadDocs($event, 'provasMOPFile')"
                     (onProgress)="uploadOnProgress($event, 'provasMOPFile')" [maxFileSize]="maxFileSize"
                     accept="application/pdf" mode="basic" [url]="uploadURLDocs()"
                     [disabled]="disabledAllForm || getFileByField('provasMOPFile')" [auto]="true">
                 </p-fileupload>
             </div>
             @if (getFileByField('provasMOPFile')) {
             <div>
                 <a class="cursor-pointer hover:underline hover:text-teal-300 ms-4">
                     {{getFileByField('provasMOPFile').nome}}
                 </a>
                 @if (getFileByField('provasMOPFile').id) {
                 <p-button (click)="downloadDoc(getFileByField('provasMOPFile'))"
                     [loading]="loadingDownloadButtons.has(getFileByField('provasMOPFile').nome)" icon="pi pi-download"
                     [rounded]="true" [text]="true" severity="success" />
                 }
                 <p-button icon="pi pi-trash" [rounded]="true" [text]="true"
                     [loading]="loadingRemoveButtons.has(getFileByField('provasMOPFile').nome)" severity="danger"
                     [disabled]="disabledAllForm" (click)="removeDoc(getFileByField('provasMOPFile'))" />
             </div>
             }
         </div>
         <div class="mb-6 col-span-12">
             <label for="provasANLAFile" class="font-medium  mb-2 block">
                 Provas ou justificação da Autoridade Nacional de Licenciamento Ambiental
             </label>
             @if (loadingUploadButtons.has('provasANLAFile')) {
             <div class="w-1/2">
                 <p-progressbar mode="indeterminate" [style]="{ height: '6px' }" />
             </div>
             }
             <div class="flex justify-start pt-2">
                 <p-fileupload [chooseLabel]="'Carregar'" name="provasANLAFile" method="post"
                     [chooseIcon]="'pi pi-file-arrow-up'" (onUpload)="onUploadDocs($event, 'provasANLAFile')"
                     (onProgress)="uploadOnProgress($event, 'provasANLAFile')" [maxFileSize]="maxFileSize"
                     accept="application/pdf" mode="basic" [url]="uploadURLDocs()"
                     [disabled]="disabledAllForm || getFileByField('provasANLAFile')" [auto]="true">
                 </p-fileupload>
             </div>
             @if (getFileByField('provasANLAFile')) {
             <div>
                 <a class="cursor-pointer hover:underline hover:text-teal-300 ms-4">
                     {{getFileByField('provasANLAFile').nome}}
                 </a>
                 @if (getFileByField('provasANLAFile').id) {
                 <p-button (click)="downloadDoc(getFileByField('provasANLAFile'))"
                     [loading]="loadingDownloadButtons.has(getFileByField('provasANLAFile').nome)" icon="pi pi-download"
                     [rounded]="true" [text]="true" severity="success" />
                 }
                 <p-button icon="pi pi-trash" [rounded]="true" [text]="true"
                     [loading]="loadingRemoveButtons.has(getFileByField('provasANLAFile').nome)" severity="danger"
                     [disabled]="disabledAllForm" (click)="removeDoc(getFileByField('provasANLAFile'))" />
             </div>
             }
         </div>
         }
     </div>
     <span class="text-xl font-bold mt-6 mb-3 block">
         Nº DE POSTOS DE EMPREGO CRIADOS OU A CRIAR
     </span>
     <div class="grid grid-cols-12 gap-4">
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="numEmpregosCriados" class="font-medium  mb-2 block">
                 Nº de empregos ja criados
             </label>
             <input formControlName="numEmpregosCriados" id="numEmpregosCriados" type="number" pInputText fluid />
         </div>
         <div class="mb-6 col-span-12 md:col-span-6">
             <label for="numEmpregadosCriar" class="font-medium  mb-2 block">
                 Nº de empregos a criar
             </label>
             <input formControlName="numEmpregadosCriar" id="numEmpregadosCriar" type="number" pInputText fluid />
         </div>
     </div>
     <p-button [disabled]="!requestForm.valid" (click)="isNew? save(requestForm): update(requestForm)"
         [loading]="isLoading" [label]="isNew? 'Guardar' : 'Actualizar'" severity="success"
         [icon]="isNew? 'pi pi-save' : 'pi pi-sync'" />
 </form>
 }
 <p-toast position="bottom-center" />